@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?yo2ssl');
    src: url('../fonts/icomoon.eot?yo2ssl#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?yo2ssl') format('truetype'),
    url('../fonts/icomoon.woff?yo2ssl') format('woff'),
    url('../fonts/icomoon.svg?yo2ssl#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: rgba(255, 255, 255, .55);
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, .55);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
}

a:hover {
    color: #fff;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
}

.body-bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    min-width: 1024px;
    height: auto;
    min-height: 100%;
}

header {
    position: relative;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
}

@-webkit-keyframes header {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -5em, 0);
        -moz-transform: translate3d(0, -5em, 0);
        -ms-transform: translate3d(0, -5em, 0);
        -o-transform: translate3d(0, -5em, 0);
        transform: translate3d(0, -5em, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-moz-keyframes header {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -5em, 0);
        -moz-transform: translate3d(0, -5em, 0);
        -ms-transform: translate3d(0, -5em, 0);
        -o-transform: translate3d(0, -5em, 0);
        transform: translate3d(0, -5em, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-o-keyframes header {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -5em, 0);
        -moz-transform: translate3d(0, -5em, 0);
        -ms-transform: translate3d(0, -5em, 0);
        -o-transform: translate3d(0, -5em, 0);
        transform: translate3d(0, -5em, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes header {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -5em, 0);
        -moz-transform: translate3d(0, -5em, 0);
        -ms-transform: translate3d(0, -5em, 0);
        -o-transform: translate3d(0, -5em, 0);
        transform: translate3d(0, -5em, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.header-profile {
    position: absolute;
    top: 15%;
    left: 50%;
    margin-left: -90px;
    border: 3px solid;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    width: 180px;
    height: 180px;
    opacity: 0;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-animation: header 1.5s 1.75s forwards;
    animation: header 1.5s 1.75s forwards;
}

.header-profile:hover {
    border-color: #fff;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
}

.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50%;
    width: 100%;
    font-size: 3.5em;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-animation: header 1s 1.5s forwards;
    animation: header 1s 1.5s forwards;
    cursor: default;
}

@media screen and (max-width: 736px) {
    .header-title {
        font-size: 2.5em;
    }
}

.down {
    position: absolute;
    bottom: 6%;
    left: 50%;
    margin-left: -30px;
    border: 3px solid;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-animation: header 1.75s 2s forwards;
    animation: header 1.75s 2s forwards;
}

.down:hover {
    border-color: #fff;
}

.icon-down:after {
    position: relative;
    font-size: 32px;
    -webkit-animation: down 2s linear 1s infinite alternate;
    animation: down 2s linear 1s infinite alternate;
    content: "\e901";
}

@-webkit-keyframes down {
    0% {
        top: 12px;
    }
    50% {
        top: 20px;
    }
    100% {
        top: 12px;
    }
}

@keyframes down {
    0% {
        top: 12px;
    }
    50% {
        top: 20px;
    }
    100% {
        top: 12px;
    }
}

#section2 {
    position: relative;
    text-align: center;
    height: 100%;
    background: url("../img/body-bg.png") #fff;
}

#contact {
    position: relative;
    height: 80%;
    text-align: center;
    background: rgba(0, 0, 0, .7);
}

.contact-mail {
    position: absolute;
    top: 30%;
    left: 50%;
    margin-left: -50%;
    padding: 0;
    width: 100%;
    font-size: 2.5em;
}

.contact-icon {
    position: absolute;
    top: 65%;
    left: 50%;
    margin-left: -50%;
    padding: 0;
    width: 100%;
}

.contact-icon li {
    display: inline-block;
    margin: 16px;
    border: 2px solid;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    padding: 16px;
}

.contact-icon li:hover {
    border-color: #fff;
    background-color: rgba(0, 0, 0, .5);
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    transition: 500ms;
    cursor: pointer;
}

.icon-weibo:before {
    font-size: 32px;
    content: "\ea9a";
}

.icon-facebook:before {
    font-size: 32px;
    content: "\ea90";
}

.icon-github:before {
    font-size: 32px;
    content: "\eab0";
}

.icon-instagram:before {
    font-size: 32px;
    content: "\ea92";
}

.icon-twitter:before {
    font-size: 32px;
    content: "\ea96";
}

.icon-description {
    font-size: 0;
}

@media screen and (max-width: 736px) {
    .contact-mail {
        top: 15%;
        font-size: 1.5em;
    }

    .contact-icon {
        top: 28%;
    }

    .contact-icon li {
        display: block;
        list-style: none;
        margin: 6px 40px;
        border-radius: 8px;
        padding: 3px 50px;
        width: auto;
        text-align: left;
    }

    .icon-weibo:before,
    .icon-facebook:before,
    .icon-github:before,
    .icon-instagram:before,
    .icon-twitter:before {
        margin-right: 18px;
    }

    .icon-description {
        font-size: 1.2em;
    }
}

footer {
    position: relative;
    height: 20%;
    text-align: center;
    background: rgba(0, 0, 0, .7);
}

.icon-back-top:after {
    position: absolute;
    bottom: 40%;
    left: 50%;
    margin-left: -24px;
    width: 48px;
    font-size: 48px;
    content: "\e900";
}

.copyright {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -50%;
    padding: 0;
    width: 100%;
    font-size: 1.25em;
}