/*=============== icon fonts start ===============*/
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?u9qk7z');
    src: url('../fonts/icomoon.eot?u9qk7z#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?u9qk7z') format('truetype'),
    url('../fonts/icomoon.woff?u9qk7z') format('woff'),
    url('../fonts/icomoon.svg?u9qk7z#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*=============== icon fonts end ===============*/

/*=============== main start ===============*/
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, .55);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
}

a:hover {
    color: #fff;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
}

.body-bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    min-width: 1024px;
    height: auto;
    min-height: 100%;
}

header {
    position: relative;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
    color: rgba(255, 255, 255, .55);
}

.header-profile {
    position: absolute;
    top: 15%;
    left: 50%;
    margin-left: -90px;
    border: 3px solid;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    width: 180px;
    height: 180px;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
    visibility: hidden;
}

@media screen and (max-width: 736px) {
    .header-profile {
        left: 50%;
        margin-left: -70px;
        width: 140px;
        height: 140px;
    }
}

.header-profile:hover {
    border-color: #fff;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
}

.header-title {
    position: absolute;
    top: 45%;
    left: 50%;
    margin-left: -50%;
    width: 100%;
    font-size: 4.5em;
    cursor: default;
    visibility: hidden;
}

@media screen and (max-width: 736px) {
    .header-title {
        font-size: 2.5em;
    }
}

.down {
    position: absolute;
    bottom: 5%;
    left: 50%;
    margin-left: -30px;
    width: 60px;
    height: 60px;
}

.icon-down:after {
    font-size: 48px;
    content: "\e900";
}

#page2 {
    position: relative;
    height: 100%;
    background: url("../img/body-bg.png") #fff;
    color: #666;
    font-size: 3em;
}

.icon-name {
    position: absolute;
    top: 15%;
    left: 25%;
    display: block;
}

.icon-school {
    position: absolute;
    top: 30%;
    left: 25%;
}

.icon-learn {
    position: absolute;
    top: 45%;
    left: 25%;

}

.icon-name:before,
.icon-school:before,
.icon-learn:before {
    display: inline-block;
    width: 48px;
    height: 48px;
    border: 2px solid;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    text-align: center;
    line-height: 48px;
    margin-bottom: -54px;
    margin-right: 32px;
    font-size: 32px;
}

.icon-name:before {
    content: "\e903";
}

.icon-school:before {
    content: "\e904";
}

.icon-learn:before {
    content: "\e920";
}

@media screen and (max-width: 960px) {
    #page2 {
        font-size: 1em;
        text-align: center;
    }

    .icon-name,
    .icon-school,
    .icon-learn {
        left: 50%;
        margin-left: -50%;
        width: 100%;
    }

    .icon-name:before,
    .icon-school:before,
    .icon-learn:before {
        font-size: 16px;
        width: 20px;
        height: 20px;
        line-height: 20px;
        margin-bottom: -20px;
        margin-right: 3px;
    }
}

#page2 a {
    color: #555;
}

#page2 a:hover {
    color: #000;
}

#contact {
    position: relative;
    height: 80%;
    text-align: center;
    background: rgba(0, 0, 0, .7);
    color: rgba(255, 255, 255, .55)
}

.contact-title {
    position: absolute;
    top: 20%;
    left: 50%;
    margin-left: -150px;
    padding: 0;
    width: 300px;
    font-size: 2.5em;
}

.contact-icon {
    position: absolute;
    top: 65%;
    left: 50%;
    margin-left: -50%;
    padding: 0;
    width: 100%;
}

.contact-icon li {
    display: inline-block;
    margin: 16px;
    border: 2px solid;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    padding: 16px;
}

.contact-icon li:hover {
    border-color: #fff;
    background-color: rgba(0, 0, 0, .5);
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    transition: 500ms;
    cursor: pointer;
}

.icon-weibo:before {
    font-size: 32px;
    content: "\ea9a";
}

.icon-facebook:before {
    font-size: 32px;
    content: "\ea90";
}

.icon-github:before {
    font-size: 32px;
    content: "\eab0";
}

.icon-instagram:before {
    font-size: 32px;
    content: "\ea92";
}

.icon-mail:before {
    font-size: 32px;
    content: "\e901";
}

.icon-description {
    font-size: 0;
}

@media screen and (max-width: 736px) {
    .contact-title {
        top: 10%;
        font-size: 1.5em;
    }

    .contact-icon {
        top: 28%;
    }

    .contact-icon li {
        display: block;
        list-style: none;
        margin: 6px 40px;
        border-radius: 8px;
        padding: 3px 50px;
        width: auto;
        text-align: left;
    }

    .icon-weibo:before,
    .icon-facebook:before,
    .icon-github:before,
    .icon-instagram:before,
    .icon-mail:before {
        margin-right: 18px;
    }

    .icon-description {
        font-size: 1.2em;
    }
}

footer {
    position: relative;
    height: 20%;
    text-align: center;
    background: rgba(0, 0, 0, .7);
    color: rgba(255, 255, 255, .55);
}

.icon-backtop:after {
    position: absolute;
    bottom: 40%;
    left: 50%;
    margin-left: -24px;
    width: 48px;
    font-size: 48px;
    content: "\e902";
}

.copyright {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -50%;
    padding: 0;
    width: 100%;
    font-size: 1.25em;
}
/*text*/
/*=============== main end ===============*/