html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: #fff;
    font-family: Helvetica, Arial, "宋体", sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #fff;
    outline:none;
}
@-webkit-keyframes header {
    0% {
        -webkit-transform: translate3d(0, 5em, 0);
        -moz-transform: translate3d(0, 5em, 0);
        -ms-transform: translate3d(0, 5em, 0);
        -o-transform: translate3d(0, 5em, 0);
        transform: translate3d(0, 5em, 0);
        opacity: 0;
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@-moz-keyframes header {
    0% {
        -webkit-transform: translate3d(0, 5em, 0);
        -moz-transform: translate3d(0, 5em, 0);
        -ms-transform: translate3d(0, 5em, 0);
        -o-transform: translate3d(0, 5em, 0);
        transform: translate3d(0, 5em, 0);
        opacity: 0;
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@-ms-keyframes header {
    0% {
        -webkit-transform: translate3d(0, 5em, 0);
        -moz-transform: translate3d(0, 5em, 0);
        -ms-transform: translate3d(0, 5em, 0);
        -o-transform: translate3d(0, 5em, 0);
        transform: translate3d(0, 5em, 0);
        opacity: 0;
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@-o-keyframes header {
    0% {
        -webkit-transform: translate3d(0, 5em, 0);
        -moz-transform: translate3d(0, 5em, 0);
        -ms-transform: translate3d(0, 5em, 0);
        -o-transform: translate3d(0, 5em, 0);
        transform: translate3d(0, 5em, 0);
        opacity: 0;
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes header {
    0% {
        -webkit-transform: translate3d(0, 5em, 0);
        -moz-transform: translate3d(0, 5em, 0);
        -ms-transform: translate3d(0, 5em, 0);
        -o-transform: translate3d(0, 5em, 0);
        transform: translate3d(0, 5em, 0);
        opacity: 0;
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}
header {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-size: 1.5em;
    height: 100%;
    -webkit-animation: header .75s 1s forwards;
    -moz-animation: header .75s 1s forwards;
    -ms-animation: header .75s 1s forwards;
    -o-animation: header .75s 1s forwards;
    animation: header .75s 1s forwards;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 0;
}

.header {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
}

.profile {
    position: absolute;
    top: 15%;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    text-align: center;
    -webkit-animation: header 1s 1.5s forwards;
    -moz-animation: header 1s 1.5s forwards;
    -ms-animation: header 1s 1.5s forwards;
    -o-animation: header 1s 1.5s forwards;
    animation: header 1s 1.5s forwards;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 0;
}

.pro {
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
    height: 180px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 3px solid;
}

.pro:hover {
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
    height: 200px;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    margin-left: -150px;
    text-align: center;
    -webkit-animation: header 1.5s 1.75s forwards;
    -moz-animation: header 1.5s 1.75s forwards;
    -ms-animation: header 1.5s 1.75s forwards;
    -o-animation: header 1.5s 1.75s forwards;
    animation: header 1.5s 1.75s forwards;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 0;
}

.arrow {
    position: absolute;
    bottom: 5%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-left: -30px;
    text-align: center;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 3px solid;
    -webkit-animation: header 1.75s 2s forwards;
    -moz-animation: header 1.75s 2s forwards;
    -ms-animation: header 1.75s 2s forwards;
    -o-animation: header 1.75s 2s forwards;
    animation: header 1.75s 2s forwards;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 0;

}

.arrow:hover {
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
    background-color: rgba(255, 255, 255, .1);
}

.down {
    position: relative;
    margin-top: 16px;
    -webkit-animation: myfirst 2s linear 1s infinite alternate;
    -moz-animation: myfirst 2s linear 1s infinite alternate;
    -o-animation: myfirst 2s linear 1s infinite alternate;
    animation: myfirst 2s linear 1s infinite alternate;
    animation-name: myfirst;
}

@-webkit-keyframes myfirst {
    0% {
        top: 0;
    }
    50% {
        top: 8px;
    }
    100% {
        top: 0;
    }
}

@-moz-keyframes myfirst {
    0% {
        top: 0;
    }
    50% {
        top: 8px;
    }
    100% {
        top: 0;
    }
}

@-ms-keyframes myfirst {
    0% {
        top: 0;
    }
    50% {
        top: 8px;
    }
    100% {
        top: 0;
    }
}

@-o-keyframes myfirst {
    0% {
        top: 0;
    }
    50% {
        top: 8px;
    }
    100% {
        top: 0;
    }
}

@keyframes myfirst {
    0% {
        top: 0;
    }
    50% {
        top: 8px;
    }
    100% {
        top: 0;
    }
}

#section2 {
    background: url(../img/body-bg.png) #fff;
    height: 100%;
}

#section3 {
    position: relative;
    height: 80%;
    text-align: center;
    background: rgba(0, 0, 0, .7);
    margin: 0;
    padding: 0;
}
.contact,.mail,.contact-icon{
    position: absolute;
    left: 50%;
    width: 80%;
    margin-left: -40%;
    padding: 0;
}
.contact{
    top: 10%;
    font-size: 2.5em;
    letter-spacing: 1px;
}
.mail{
    top: 35%;
    font-size: 2.5em;
    letter-spacing: 1px;
}
.mail a:hover{
    color: rgba(255, 255, 255, 0.55);
}
.contact-icon {
    top: 65%;
}

.contact-icon li {
    display: inline-block;
    margin: 16px;
    padding: 16px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid;
}

.contact-icon li:hover {
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    transition: 500ms;
    background-color: rgba(0, 0, 0, .5);
}

.description {
    display: none;
}

@media screen and (max-width: 736px) {
    #section3 {
        position: relative;
    }
    .contact,.mail,.contact-icon{
        position: absolute;
        left: 50%;
        width: 80%;
        margin-left: -40%;
    }
    .contact{
        top: 2%;
        font-size:2em;
    }
    .mail{
        top: 15%;
        font-size: 1.5em;
    }

    .contact-icon {
        top: 25%;
    }

    .contact-icon li {
        width: auto;
        border-radius: 8px;
        display: block;
        text-align: left;
        padding: 3px 40px;
        list-style: none;
    }

    .description {
        display: inline-block;
        margin-left: 20px;
        font-size: 1em;
    }
}

footer {
    position: relative;
    height: 20%;
    background: rgba(0, 0, 0, .7);
    font-size: 20px;
    word-spacing: 3px;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}

.top {
    position: absolute;
    bottom: 45%;
    left: 50%;
    width: 48px;
    margin-left: -24px;
}
.top a {
    font-size: 0;
}

.top a:after {
    content: url(../img/rocket.png);
}

.copyright {
    position: absolute;
    bottom: 20%;
    left: 50%;
    width: 300px;
    margin-left: -150px;
}

.copyright a:hover {
    color: rgba(255, 255, 255, 0.55);
}