---
layout: page
title: Archive
permalink: /archive/
description: The categories of the posts
---

<section class="site-content">

  <div class="page-title">

    <h1 class="page-title-archive">{{ site.posts | size }} posts sorted in<br>{{ site.categories | size }} categories</h1>

    <div class="angled-down angled-down-left"></div>
    <div class="angled-down angled-down-right"></div>
  </div>

  <div class="page-archive">
    {% assign categories = site.categories | sort %}
    {% for category in categories %}
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <a id="{{ category_name | slugify }}"></a>
    <button class="archive-category-name" id="#{{ category_name | slugify }}">{% include svg/arrow-down.svg %}{{ category_name }}<span class="archive-category-size">{{ category | last | size }}</span></button>

    <div class="archive-category-panel">
      {% for post in site.categories[category_name] %}
      <a class="archive-post-title" href="{{ site.baseurl }}{{ post.url }}"><span>{{ post.title }}</span></a>
      {% endfor %}
    </div>
    {% endfor %}
  </div>

</section>