<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch-theme-algolia.min.css">

<script>
  'use strict';

  var search = instantsearch({
    appId: '{{ site.algolia.application_id }}',
    apiKey: '{{ site.algolia.search_only_api_key }}',
    indexName: '{{ site.algolia.index_name }}'
  });

  var hitTemplate = function hitTemplate(hit) {
    var date = '';
    if (hit.date) {
      date = moment.unix(hit.date).format('MMM D, YYYY');
    }

    var url = '{{ site.baseurl }}' + hit.url + '#' + hit.anchor;

    var title = hit._highlightResult.title.value;

    var breadcrumbs = '';
    if (hit._highlightResult.headings) {
      breadcrumbs = hit._highlightResult.headings.map(function (match) {
        return '<span class="post-breadcrumb">' + match.value + '</span>';
      }).join(' > ');
    }

    var content = hit._highlightResult.html.value;

    return '\n    <div class="post-item">\n      <span class="post-meta">' + date + '</span>\n      <h2><a class="post-link" href="' + url + '">' + title + '</a></h2>\n      {{#breadcrumbs}}<a href="' + url + '" class="post-breadcrumbs">' + breadcrumbs + '</a>{{/breadcrumbs}}\n      <div class="post-snippet">' + content + '</div>\n    </div>\n  ';
  };

  search.addWidget(instantsearch.widgets.searchBox({
    container: '#search-searchbar',
    placeholder: 'Search into posts...'
  }));

  search.addWidget(instantsearch.widgets.hits({
    container: '#search-hits',
    templates: {
      item: hitTemplate
    }
  }));

  search.start();
</script>

<style>
  .ais-search-box {
    max-width: 100%;
    margin-bottom: 15px;
  }
  .post-item {
    margin-bottom: 30px;
  }
  .post-link .ais-Highlight {
    color: #111;
    font-style: normal;
    text-decoration: underline;
  }
  .post-breadcrumbs {
    color: #424242;
    display: block;
  }
  .post-breadcrumb {
    font-size: 18px;
    color: #424242;
  }
  .post-breadcrumb .ais-Highlight {
    font-weight: bold;
    font-style: normal;
  }
  .post-snippet .ais-Highlight {
    color: #2a7ae2;
    font-style: normal;
    font-weight: bold;
  }
  .post-snippet img {
    display: none;
  }
</style>
