{% if site.data.comments[page.slug] %}
<h1 class="comments-title">Comments ({{ site.data.comments[page.slug] | size }})</h1>

{% assign comments = site.data.comments[page.slug] | sort %}
{% for comment in comments %}
<div class="comments-name">{{ comment[1].name }}</div>
<time class="comments-date">{{ comment[1].date | date: "%B %d. %Y" }}</time>
<div class="comments-message">{{ comment[1].message | markdownify }}</div>
{% endfor %}

<h1 class="comment-new-title">Leave a comment</h1>


{% else %}
<h1 class="comment-new-title">No comments yet, be the first to comment</h1>
{% endif %}

<!--<form method="POST" action="https://api.staticman.net/v2/entry/lcr/lcr.github.io/master/comments">-->
  <!--<input name="options[redirect]" type="hidden" value="{{ page.url | absolute_url }}">-->
  <!--<input name="options[slug]" type="hidden" value="{{ page.slug }}">-->

  <!--<label><input class="comment-new-text" name="fields[name]" type="text" placeholder="Name*" autocomplete="name" required></label>-->

  <!--<label><input class="comment-new-email" name="fields[email]" type="email" placeholder="Email" autocomplete="email" pattern="/^([A-Za-z0-9_\-\.\u4e00-\u9fa5])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,8})$/"></label>-->

  <!--<label><textarea class="comment-new-message" name="fields[message]" placeholder="Message*" required></textarea></label>-->

  <!--<input class="comment-new-submit" type="submit" value="Send">-->
<!--</form>-->

<form class="comment-form" data-action="https://api.staticman.net/v2/entry/lcr/lcr.github.io/master/comments" novalidate="novalidate">

  <input name="fields[slug]" type="hidden" value="{{ page.slug }}" class="comment-form-input comment-form-input--slug">

  <input name="options[slug]" type="hidden" value="{{ page.slug }}" class="comment-form-input comment-form-input--optionsSlug">

  <input name="fields[name]" type="text" placeholder="Name" class="comment-form-input comment-form-input--name">

  <!--<input name="fields[catch]" type="text" tabindex="-1" placeholder="Last name" class="comment-form-input&#45;&#45;catch">-->

  <input name="fields[email]" type="email" placeholder="Email" class="comment-form-input comment-form-input--email">

  <textarea name="fields[message]" placeholder="Comment" class="comment-form-input comment-form-input--message"></textarea>

  <div class="comment-form-errorMessages"></div>

  <div class="comment-form-sendFailed">Sending failed, please try again.</div>

  <div class="comment-form-sendSucceeded">Thank you! Your comment is sent. Please note that all of the comments go through moderation.</div>

  <button class="comment-form-sendButton" type="submit">Send</button>

  <div class="comment-form-overlay">
    <div class="comment-form-loader">
      <div class="comment-form-loaderElement"></div>
      <div class="comment-form-loaderElement comment-form-loaderElement--two"></div>
    </div>
  </div>
</form>