<form method="POST" action="https://api.staticman.net/v2/entry/lcr/lcr.github.io/master/comments">
    <input name="options[redirect]" type="hidden" value="https://my-site.com">
    <!-- e.g. "2016-01-02-this-is-a-post" -->
    <input name="options[slug]" type="hidden" value="{{ page.slug }}">
    <label><input name="fields[name]" type="text">Name</label>
    <label><input name="fields[email]" type="email">E-mail</label>
    <label><textarea name="fields[message]"></textarea>Message</label>

    <button type="submit">Go!</button>
</form>

{% assign comments = site.data.comments | sort %}

{% for comment in comments reversed %}
{% assign commentData = comment[1] %}
<div>
    {{ commentData.message }}</br>
    {{ commentData.name }}</br>
    {{ commentData.date | date_to_long_string }}
</div>
{% endfor %}