{% if site.data.comments[page.slug] %}

{% if site.data.comments[page.slug].size != 0 %}
<h1 class="comment-new-title">Leave a comment</h1>
{% endif %}

{% else %}
<h1 class="comment-new-title">No comments yet, be the first to comment</h1>
{% endif %}

<form method="POST" action="https://api.staticman.net/v2/entry/lcr/lcr.github.io/master/comments">
  <input name="options[redirect]" type="hidden" value="{{ page.url | absolute_url }}">
  <input name="options[slug]" type="hidden" value="{{ page.slug }}">

  <label><input class="comment-new-text" name="fields[name]" type="text" placeholder="Name" required></label>

  <label><input class="comment-new-email" name="fields[email]" type="email" placeholder="Email (optional)" pattern="/^([A-Za-z0-9_\-\.\u4e00-\u9fa5])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,8})$/"></label>

  <label><textarea class="comment-new-message" name="fields[message]" placeholder="Message (HTML and Markdown supported)" required></textarea></label>

  <input class="comment-new-submit" type="submit" value="Send">
</form>