{% if site.data.comments[page.slug] %}
<h2 class="comments-title">留言 ({{ site.data.comments[page.slug] | size }})</h2>

{% assign comments = site.data.comments[page.slug] | sort %}
{% for comment in comments %}
<div class="comments-name">{{ comment[1].name }}：</div>
<div class="comments-message">{{ comment[1].message | markdownify }}</div>
<div class="comments-date">{{ comment[1].date | date: "%Y年 %m月 %d日" }}</div>
{% endfor %}
<h2 class="comment-form-title">发表留言</h2>

{% else %}
<h2 class="comment-form-title">无留言，写一条</h2>
{% endif %}

<form method="POST" class="comment-form" data-action="https://staticman-1yua.onrender.com/v3/entry/github/lcr/lcr.github.io/master/comments">

  <input class="comment-form-input comment-form-input--slug" name="fields[slug]" type="hidden" value="{{ page.slug }}">
  <input class="comment-form-input comment-form-input--optionsSlug" name="options[slug]" type="hidden" value="{{ page.slug }}">
  <label><input class="comment-form-input comment-form-input--name" name="fields[name]" type="text" placeholder="名字*" autocomplete="name" required></label>
  <label><input class="comment-form-input comment-form-input--email" name="fields[email]" type="email" placeholder="邮箱" autocomplete="email"></label>
  <label><textarea class="comment-form-input comment-form-input--message" name="fields[message]" placeholder="信息*" required></textarea></label>

  <div class="comment-form-sendFailed">发表失败，请重试</div>
  <div class="comment-form-sendSucceeded">发送成功! 一分钟后展示，请刷新</div>

  <button class="comment-form-sendButton" type="submit">发表</button>

  <div class="comment-form-overlay">
    <div class="bouncing-loader">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</form>