<footer>
  {% if page.date %}
  <div class="angled-up angled-up-left-grey"></div>
  <div class="angled-up angled-up-right-grey"></div>
  {% else %}
  <div class="angled-up angled-up-left"></div>
  <div class="angled-up angled-up-right"></div>
  {% endif %}

  <a class="back-top" href="#" title="Back to top">{% include svg/arrow-up.svg %}</a>

  <ul class="social">
    <li><a class="social-item" href="https://github.com/lcr/" title="Leslie Lai on GitHub">{% include svg/github.svg %}</a></li>
  </ul>

  <p class="copyright">&copy;2021&nbsp;&nbsp; All rights reserved</p>
  <p class="author">Made with {% include svg/heart.svg %} by {{ site.author }}</p>
</footer>