<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <title>
    {%- if page.title == "Home" -%}
    {{ site.title | escape }}&nbsp;-&nbsp;Frontend & plants
    {%- else -%}
    {{ page.title | escape }}&nbsp;-&nbsp;{{ site.title | escape }}
    {%- endif -%}
  </title>
  <link rel="stylesheet" href="{{'/assets/main.css' | relative_url}}">
  <meta name="description" content="{%- if page.title == 'Home' -%}{{ site.description | normalize_whitespace | truncate: 160 | escape }}{%- elsif page.description -%}{{ page.description | normalize_whitespace | truncate: 160 | escape }}{%- else -%}{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}{%- endif -%}">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  <link rel="canonical" href="{{ page.url | replace:'index.html' | absolute_url }}">
  <script>
    (function(e,t,n,i,s,a,c){e[n]=e[n]||function(){(e[n].q=e[n].q||[]).push(arguments)}
    ;a=t.createElement(i);c=t.getElementsByTagName(i)[0];a.async=true;a.src=s
    ;c.parentNode.insertBefore(a,c)
    })(window,document,"galite","script","https://cdn.jsdelivr.net/npm/ga-lite@2/dist/ga-lite.min.js");
    galite('create', '{{ site.google_analytics }}', 'auto');
    galite('send', 'pageview');
  </script>
</head>