<div class="site-head-line"></div>

<header class="site-header" role="banner">
    <div class="wrapper">
        {% assign default_paths = site.pages | map: "path" %}
        {% assign page_paths = site.header_pages | default: default_paths %}
        <h1><a href="{{ '/' | relative_url }}">Leslie Lai's writings</a></h1>
    </div>
</header>

<div class="wrapper">
    <a class="header-home" href="{{ '/' | relative_url }}">
        <span class="front-end">Frontend</span>
        <span class="development">Development</span>
        By<span class="leslie"> Leslie Lai</span>
    </a>
</div>