<div class="post-recent">
    <div class="wrapper">
        {% if page.next %}
        <a class="post-recent-next  icon-left-link" href="{{ page.next.url | prepend: site.baseurl }}">
            {% include icon-left.svg %}{{ page.next.title }}</a>
        {% endif %}

        {% if page.previous %}
        <a class="post-recent-prev  icon-right-link" href="{{ page.previous.url | prepend: site.baseurl }}">
            {{page.previous.title }}{% include icon-right.svg %}</a>
        {% endif %}
    </div>
</div>