<article class="search content-width clearfix" id="search">
  <button class="search-close" type="button" title="Close or Esc key">{% include icon-cross.svg %}</button>

  <form class="searchbox" novalidate="novalidate" onsubmit="return false;" role="search">
    <input class="searchbox-input" id="search-input" type="search" name="search" placeholder="Search..." autocomplete="off" required="required">

    <button class="searchbox-reset" type="reset" title="Search Clear">{% include icon-cross.svg %}</button>

    <div class="search-nav">
      {%- for path in page_paths -%}
      {%- assign my_page = site.pages | where: "path", path | first -%}
      {%- if my_page.title -%}
      <a class="search-nav-title" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
      {%- endif -%}
      {% endfor -%}
    </div>
  </form>
</article>