<div id="search">
  <button type="button" class="search-close" title="Close">{% include icon-cross.svg %}</button>

  <form novalidate="novalidate" onsubmit="return false;" class="searchbox" role="search">
    <input id="search-input" type="search" name="search" placeholder="Search..." autocomplete="off" required="required" class="searchbox__input">

    <button type="reset" class="searchbox__reset hide" title="Search Clear">{% include icon-cross.svg %}</button>

    <div class="search-nav">
      <a href="/">Home</a>
      <a href="/about">About</a>
    </div>
  </form>

</div>

<script src="/assets/jquery.min.js"></script>
<script src="/assets/algoliasearch.min.js"></script>
<script src="/assets/autocomplete.min.js"></script>
<script src="/assets/search-page.js"></script>
<script src="/assets/search-input.js"></script>