@charset "utf-8";

// Define defaults for each variable

$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$base-font-size: 16px !default;
$small-font-size: $base-font-size * 0.875 !default;
$large-font-size: $base-font-size * 1.5 !default;
$base-font-weight: 400 !default;
$base-line-height: 1.5 !default;

$spacing-unit: 30px !default;

$black-color: #000 !default;
$white-color: #fff !default;
$deep-grey-color: #212121 !default;
$grey-color: #9E9E9E !default;
$light-grey-color: #f5f5f5 !default;
$red-color: #F44336 !default;
$red-purple-color: linear-gradient(45deg, #F44336, #9C27B0) !default;

// Width of the content area
$content-width: 900px !default;
$on-laptop: 800px !default;
$on-palm: 600px !default;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials
@import
"minima/base",
"minima/header",
"minima/home",
"minima/pagination",
"minima/footer",
"minima/syntax-highlighting",
"minima/post",
"minima/comments",
"minima/post-recent",
"minima/archive",
"minima/search";
