/*
Error: Invalid CSS after "...e-color:       ": expected expression (e.g. 1px, bold), was "#2429 !default;"
        on line 19 of minima.scss

14: $white-color:      #fff !default;
15: $gray-color:       #f5f5f5 !default;
16: $grey-color:       #4f5155 !default;
17: $grey-color-light: lighten($grey-color, 40%) !default;
18: $grey-color-dark:  darken($grey-color, 25%) !default;
19: $blue-color:       #2429 !default;
20: $link-color:       #e55 !default;
21: $linear-color:      linear-gradient(45deg, #e55, #909) !default;
22: 
23: $table-text-align: left !default;
24: 

Backtrace:
minima.scss:19
D:/Program Files/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.1/lib/sass/scss/parser.rb:1278:in `expected'
D:/Program Files/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.1/lib/sass/script/lexer.rb:231:in `expected!'
D:/Program Files/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.1/lib/sass/script/parser.rb:723:in `assert_expr'
D:/Program Files/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.1/lib/sass/script/parser.rb:68:in `parse'
D:/Program Files/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.1/lib/sass/scss/parser.rb:1134:in `sass_script'
D:/Program Files/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.1/lib/sass/scss/parser.rb:642:in `variable'
D:/Program Files/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.1/lib/sass/scss/parser.rb:696:in `block_child'
D:/Program Files/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.1/lib/sass/scss/parser.rb:689:in `block_contents'
D:/Program Files/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.1/lib/sass/scss/parser.rb:137:in `stylesheet'
D:/Program Files/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.1/lib/sass/scss/parser.rb:41:in `parse'
D:/Program Files/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.1/lib/sass/engine.rb:414:in `_to_tree'
D:/Program Files/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.1/lib/sass/engine.rb:389:in `_render_with_sourcemap'
D:/Program Files/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.1/lib/sass/engine.rb:307:in `render_with_sourcemap'
D:/Program Files/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
D:/Program Files/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
D:/Program Files/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:209:in `each'
D:/Program Files/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
D:/Program Files/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.1/lib/sass/plugin.rb:82:in `update_stylesheets'
D:/Program Files/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.1/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
D:/Program Files/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.1/lib/sass/exec/sass_scss.rb:51:in `process_result'
D:/Program Files/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.1/lib/sass/exec/base.rb:52:in `parse'
D:/Program Files/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.1/lib/sass/exec/base.rb:19:in `parse!'
D:/Program Files/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.1/bin/scss:13:in `<top (required)>'
D:/Program Files/Ruby22-x64/bin/scss:23:in `load'
D:/Program Files/Ruby22-x64/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...e-color:       \": expected expression (e.g. 1px, bold), was \"#2429 !default;\"\A         on line 19 of minima.scss\A \A 14: $white-color:      #fff !default;\A 15: $gray-color:       #f5f5f5 !default;\A 16: $grey-color:       #4f5155 !default;\A 17: $grey-color-light: lighten($grey-color, 40%) !default;\A 18: $grey-color-dark:  darken($grey-color, 25%) !default;\A 19: $blue-color:       #2429 !default;\A 20: $link-color:       #e55 !default;\A 21: $linear-color:      linear-gradient(45deg, #e55, #909) !default;\A 22: \A 23: $table-text-align: left !default;\A 24: "; }
