/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/**
 * Basic styling
 */
body {
  font: 400 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 15px; }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 14px; }

/**
 * Lists
 */
ul, ol {
  margin-left: 30px; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

/**
 * Links
 */
a {
  text-decoration: none;
  color: #1c1c1c;
  -webkit-tap-highlight-color: transparent; }
  a:visited {
    color: black; }
  a:hover {
    color: #000;
    text-decoration: none; }
  .social-media-list a:hover {
    text-decoration: none; }
    .social-media-list a:hover .username {
      text-decoration: none; }

/**
 * Blockquotes
 */
blockquote {
  color: #4f5155;
  border-left: 4px solid #b5b7bb;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid #b5b7bb;
  border-radius: 3px;
  background-color: #f7f7f7; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: auto; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(960px - (30px * 2));
  max-width: calc(960px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px; }
  @media screen and (max-width: 800px) {
    .wrapper {
      max-width: -webkit-calc(960px - (30px));
      max-width: calc(960px - (30px));
      padding-right: 15px;
      padding-left: 15px; } }

/**
 * Clearfix
 */
.wrapper:after {
  display: table;
  clear: both;
  content: ""; }

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  vertical-align: middle; }

.social-media-list .icon {
  padding-right: 5px; }
.social-media-list li + li {
  padding-top: 5px; }

/**
 * Tables
 */
table {
  margin-bottom: 30px;
  width: 100%;
  text-align: left;
  color: #2e2e2e;
  border-collapse: collapse;
  border: 1px solid #b5b7bb; }
  table tr:nth-child(even) {
    background-color: #c5c7c9; }
  table th, table td {
    padding: 10px 15px; }
  table th {
    background-color: #bdbfc2;
    border: 1px solid #abadb1;
    border-bottom-color: #96989d; }
  table td {
    border: 1px solid #b5b7bb; }

/**
 * Site header
 */
.site-head-line {
  height: 10px;
  background: linear-gradient(45deg, #e95250, #954aad); }

.site-header {
  border-bottom: 1px solid #b5b7bb;
  min-height: 55.95px;
  position: relative; }

.site-title {
  float: left;
  margin-bottom: 0;
  font-size: 26px;
  font-weight: 300;
  line-height: 54px;
  letter-spacing: -1px; }
  .site-title, .site-title:visited {
    color: #121213; }

/**
 * Site footer
 */
.site-footer {
  height: 40vh;
  background: linear-gradient(45deg, #e95250, #954aad); }

.footer-border {
  border-top: 100px solid #1f2125;
  border-right: calc(100vw - 17px) solid transparent;
  width: 0;
  height: 0; }
  @media screen and (max-device-width: 1024px) {
    .footer-border {
      border-right: 100vw solid transparent; } }

.footer-content {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-top: 30px; }

.content-border {
  border-bottom: 100px solid #1f2125;
  border-left: calc(100vw - 17px) solid transparent;
  width: 0;
  height: 0; }
  @media screen and (max-device-width: 1024px) {
    .content-border {
      border-left: 100vw solid transparent; } }

/**
 * Page content
 */
.page-content {
  padding: 30px 0; }

.page-heading {
  font-size: 20px; }

.post-list {
  margin-left: 0;
  list-style: none; }
  .post-list > li {
    margin-bottom: 30px;
    border-bottom: 1px solid #b5b7bb; }
    .post-list > li > h2 {
      display: inline-block;
      margin-top: 60px;
      margin-bottom: 0; }
      .post-list > li > h2 > a {
        display: inline-block;
        text-decoration: none; }
        .post-list > li > h2 > a:after {
          display: block;
          margin: 0 auto;
          width: 0;
          height: 2px;
          background: linear-gradient(45deg, #e95250, #954aad);
          transition: width .5s ease, background-color .5s ease;
          content: ''; }
        .post-list > li > h2 > a:hover:after {
          width: 100%;
          background: linear-gradient(45deg, #e95250, #954aad); }

.post-meta {
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 14px;
  color: #4f5155; }

.post-readmore {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 60px;
  border: 0.1rem solid #e95250;
  border-radius: 30px;
  padding: 0 30px;
  height: 54px;
  font-size: 16px; }

a.post-readmore {
  text-decoration: none;
  color: #e95250; }
  a.post-readmore:hover {
    color: #fff;
    background-color: #e95250;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms; }

.pagination-bg {
  background-color: #1f2125; }

.paginator-border {
  position: absolute;
  z-index: 4;
  border-top: 100px solid #fff;
  border-right: calc(100vw - 17px) solid transparent;
  width: 0;
  height: 0; }
  @media screen and (max-device-width: 1024px) {
    .paginator-border {
      border-right: 100vw solid transparent; } }

.pagination {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center; }

.pagination-link {
  margin: 0 15px;
  font-size: 32px; }

a.pagination-link:hover {
  color: #e95250; }

.pagination-link-active {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 0 15px;
  border-radius: 50%;
  width: 48px;
  height: 100%;
  font-size: 32px;
  color: #fff;
  background-color: #e95250; }

.icon-left-link:hover path {
  fill: #e95250; }

.icon-left path {
  fill: rgba(0, 0, 0, 0.2); }

.icon-left:hover path {
  fill: rgba(233, 77, 80, 0.3); }

.icon-right-link:hover path {
  fill: #e95250; }

.icon-right path {
  fill: rgba(0, 0, 0, 0.2); }

.icon-right:hover path {
  fill: rgba(233, 77, 80, 0.3); }

/**
 * Posts
 */
.post-header {
  margin-bottom: 30px; }

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1; }
  @media screen and (max-width: 800px) {
    .post-title {
      font-size: 36px; } }

.post-content {
  margin-bottom: 30px; }
  .post-content h2 {
    font-size: 32px; }
    @media screen and (max-width: 800px) {
      .post-content h2 {
        font-size: 28px; } }
  .post-content h3 {
    font-size: 26px; }
    @media screen and (max-width: 800px) {
      .post-content h3 {
        font-size: 22px; } }
  .post-content h4 {
    font-size: 20px; }
    @media screen and (max-width: 800px) {
      .post-content h4 {
        font-size: 18px; } }

.post-recent {
  margin-top: 90px;
  margin-bottom: 90px;
  font-size: 24px; }
  .post-recent .prev {
    float: right;
    color: #fff; }
    .post-recent .prev:hover {
      color: #e95250; }
  .post-recent .next {
    float: left;
    color: #fff; }
    .post-recent .next:hover {
      color: #e95250; }
  .post-recent svg {
    width: 18px;
    height: 18px;
    fill: #fff; }

/**
 * Comments
 */
.comment {
  color: #fff;
  background-color: #1f2125; }

.comment-size {
  margin-top: 60px;
  border-bottom: 2px solid #b5b7bb;
  padding-bottom: 15px;
  font-size: 32px; }

.comment-name {
  margin-top: 45px;
  font-size: 19.2px; }

.comment-date {
  margin-top: 10px;
  margin-bottom: 10px; }

.comment-comment {
  margin-bottom: 30px;
  border-bottom: 1px solid #b5b7bb; }

.comment-title {
  margin-top: 60px;
  font-size: 32px; }

.comment-text {
  float: left;
  margin-top: 30px;
  border: 0;
  border-radius: 6px;
  width: 48%;
  height: 45px;
  font-size: 24px;
  color: #fff;
  background-color: #27292d; }
  @media screen and (max-width: 600px) {
    .comment-text {
      width: 100%;
      clear: both; } }
  .comment-text:focus {
    outline: none; }

.comment-email {
  float: right;
  margin-top: 30px;
  border: 0;
  border-radius: 6px;
  width: 48%;
  height: 45px;
  font-size: 24px;
  color: #fff;
  background-color: #27292d; }
  @media screen and (max-width: 600px) {
    .comment-email {
      width: 100%;
      clear: both; } }
  .comment-email:focus {
    outline: none; }

.comment-message {
  margin-top: 30px;
  border: 0;
  border-radius: 6px;
  width: 100%;
  height: 240px;
  font-size: 24px;
  color: #fff;
  background-color: #27292d;
  overflow: hidden; }
  .comment-message:focus {
    outline: none; }

.comment-submit {
  margin-top: 30px;
  border: 0.1rem solid #e95250;
  border-radius: 30px;
  padding: 0 30px;
  height: 54px;
  font-size: 16px;
  color: #e95250;
  background-color: #1f2125; }
  .comment-submit:hover {
    color: #fff;
    background-color: #e95250; }
  .comment-submit:focus {
    outline: none; }

/*
* icons
 */
.icon-github {
  fill: #fff; }
  .icon-github:hover path {
    fill: #000; }

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff; }
  .highlighter-rouge .highlight {
    background: #f7f7f7; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }

/*# sourceMappingURL=minima.css.map */
