.page-about{
  @include content-width;
}

.page-about-p {
  margin: 1.5rem 0;
  font-size: $base-font-size * 1.625;
  color: $deep-grey-color;
  line-height: 1.2;
}

.page-about-hr {
  margin: 3rem 0;
  color: $light-grey-color;
}