.archive {
  @include content-width;
}

.accordion {
  border: none;
  border-top: 1px solid $grey-color;
  padding: 16px 0;
  background: none;
  width: 100%;
  font-size: $base-font-size * 2;
  cursor: pointer;
  text-align: left;
  outline: none;
  transition: $time;
  svg {
    transition: transform $time;
  }
  @include hover {
    color: $red-color;
    fill: $red-color;
  }
}

.active {
  svg {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    fill: $red-color;
  }
}

.panel {
  margin-left: $spacing-unit;
  max-height: 0;
  overflow: hidden;
  transition: max-height $time ease-out;
}

.archive-number {
  float: right;
  color: $deep-grey-color;
}

.archive-post-title {
  display: block;
  margin-bottom: $spacing-unit / 2;
  font-size: $base-font-size * 1.5;
  color: $black-color;
  
  @include media-query($small) {
    span {
      display: inline-block;
      position: relative;
      
      &::before {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: $red-purple-color;
        transition: transform $time;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: left center;
        transform-origin: left center;
        content: '';
      }
    }
    
    &:hover span {
      &::before {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
      }
    }
  }
}