.page-archive {
  margin-bottom: $spacing-unit * 2;
  @include content-width;
}

.archive-group {
  &:not(:last-child) {
    border-bottom: 1px solid $grey-color;
  }
  
  input {
    display: none;
  }
  
  label {
    display: block;
    padding: 16px 0;
    @include relative-font-size(2);
    cursor: pointer;
    &:hover {
      color: $red-color;
      fill: $red-color;
    }
    svg {
      transition: all $time linear;
    }
  }
  
  input ~ .archive-item {
    margin-left: $spacing-unit;
    height: 0;
    overflow: hidden;
  }
  
  input:checked ~ .archive-item {
    height: auto;
  }
  
  input:checked + label {
    svg {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
      fill: $red-color;
    }
  }
}

.archive-number {
  float: right;
  color: $deep-grey-color;
}

.archive-post-title {
  display: block;
  margin-bottom: $spacing-unit / 2;
  @include relative-font-size(1.5);
  color: $black-color;
  
  span {
    display: inline-block;
    position: relative;
    
    &::before {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: $red-purple-color;
      transition: -webkit-transform $time;
      transition: transform $time;
      transition: transform $time, -webkit-transform $time;
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      -webkit-transform-origin: left center;
              transform-origin: left center;
      content: '';
    }
    
    .archive-item h2:hover & {
      &::before {
        -webkit-transform: scaleX(1);
                transform: scaleX(1);
      }
    }
  }
}