//media query
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

//font-size
@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Content width
@mixin content-width {
  padding-left: calc(50vw - 450px);
  padding-right: calc(50vw - 450px);
  @include media-query($medium) {
    padding-left: ($spacing-unit / 3);
    padding-right: ($spacing-unit / 3);
  }
}

// Clearfix
@mixin clearfix {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}