/*
Error: Invalid CSS after "@import "minima"": expected "{", was ";"
        on line 5 of main.scss

1: ---
2: # Only the main Sass file needs front matter (the dashes are enough)
3: ---
4: 
5: @import "minima";

Backtrace:
main.scss:5
D:/Program Files/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.1/lib/sass/scss/parser.rb:1278:in `expected'
D:/Program Files/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.1/lib/sass/scss/parser.rb:1208:in `expected'
D:/Program Files/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.1/lib/sass/scss/parser.rb:1203:in `tok!'
D:/Program Files/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.1/lib/sass/scss/parser.rb:677:in `block'
D:/Program Files/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.1/lib/sass/scss/parser.rb:670:in `ruleset'
D:/Program Files/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.1/lib/sass/scss/parser.rb:696:in `block_child'
D:/Program Files/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.1/lib/sass/scss/parser.rb:686:in `block_contents'
D:/Program Files/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.1/lib/sass/scss/parser.rb:137:in `stylesheet'
D:/Program Files/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.1/lib/sass/scss/parser.rb:41:in `parse'
D:/Program Files/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.1/lib/sass/engine.rb:414:in `_to_tree'
D:/Program Files/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.1/lib/sass/engine.rb:389:in `_render_with_sourcemap'
D:/Program Files/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.1/lib/sass/engine.rb:307:in `render_with_sourcemap'
D:/Program Files/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
D:/Program Files/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
D:/Program Files/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:209:in `each'
D:/Program Files/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
D:/Program Files/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.1/lib/sass/plugin.rb:82:in `update_stylesheets'
D:/Program Files/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.1/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
D:/Program Files/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.1/lib/sass/exec/sass_scss.rb:51:in `process_result'
D:/Program Files/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.1/lib/sass/exec/base.rb:52:in `parse'
D:/Program Files/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.1/lib/sass/exec/base.rb:19:in `parse!'
D:/Program Files/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.5.1/bin/scss:13:in `<top (required)>'
D:/Program Files/Ruby22-x64/bin/scss:23:in `load'
D:/Program Files/Ruby22-x64/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"@import \"minima\"\": expected \"{\", was \";\"\A         on line 5 of main.scss\A \A 1: ---\A 2: # Only the main Sass file needs front matter (the dashes are enough)\A 3: ---\A 4: \A 5: @import \"minima\";"; }
