/*
 * page-about
 */
.page-about {
  color: $deep-grey-color;
  p {
    :not(:first-child) {
      margin-top: $spacing-unit;
    }
    border-bottom: 1px solid $grey-color;
    padding-bottom: $spacing-unit;
    @include relative-font-size(2);
    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }
  
  h2 {
    @include relative-font-size(2);
    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }
  
  ul {
    padding-bottom: $spacing-unit * 3;
    
    li {
      display: inline-block;
      &:not(:first-child) {
        margin-left: 8px;
      }
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid $deep-grey-color;
        border-radius: 100%;
        width: $spacing-unit * 2;
        height: $spacing-unit * 2;
        fill: $deep-grey-color;
        &:hover {
          background: $light-grey-color;
        }
      }
    }
  }
}

