/*
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/*
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $black-color;
  background: $white-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

/*
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

/*
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/*
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

/*
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

/*
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
}

/*
 * Links
 */
a {
  text-decoration: none;
  color: $black-color;
  -webkit-tap-highlight-color: transparent;

  &:visited {
    color: darken($black-color, 15%);
  }

  &:hover {
    text-decoration: none;
    color: $black-color;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: none;
    }
  }
}

/*
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  @include relative-font-size(1.125);
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

/*
 * Code formatting
 */
pre,
code {
  @include relative-font-size(0.9375);
  border-radius: 3px;
  background: $gray-color;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;
  > code {
    border: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

/*
 * Icons
 */
.icon > svg {
  display: inline-block;
  vertical-align: middle;
}

.social-media-list {
  .icon {
    padding-right: $spacing-unit / 6;
  }

  li + li {
    padding-top: $spacing-unit / 6;
  }
}

/*
 * Tables
 */
table {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  color: lighten($black-color, 18%);
  border-collapse: collapse;
  border: 1px solid $grey-color-light;
  tr {
    &:nth-child(even) {
      background: lighten($grey-color-light, 25%);
    }
  }
  th, td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }
  th {
    background: lighten($grey-color-light, 10%);
    border: 1px solid darken($grey-color-light, 4%);
    border-bottom-color: darken($grey-color-light, 12%);
  }
  td {
    border: 1px solid $grey-color-light;
  }
}
h1 {
  @include relative-font-size(2.5);

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

h2 {
  @include relative-font-size(2);

  @include media-query($on-laptop) {
    @include relative-font-size(1.75);
  }
}

h3 {
  @include relative-font-size(1.625);

  @include media-query($on-laptop) {
    @include relative-font-size(1.375);
  }
}

h4 {
  @include relative-font-size(1.25);

  @include media-query($on-laptop) {
    @include relative-font-size(1.125);
  }
}