/*
 * Box-sizing reset
 */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/*
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $black-color;
  background: $white-color;
  -webkit-text-size-adjust: 100%; /* 启用 浏览器的文本溢出算法，具体用一个百分数来确定文本放大范围 应用在iOS*/
  font-kerning: normal; /* 应用字距调整*/
}

/*
 * Content width
 */
.content-width {
  padding: 0 calc(50vw - 450px); /*若设置为50%，IE会有水平滚动条*/
  @include media-query($on-laptop) {
    padding: 0 ($spacing-unit / 2);
  }
}

/*
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, ul, ol, dl, table, blockquote,
pre, figure, %vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

/*
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
}

h1 {
  @include relative-font-size(2);
  @include media-query($on-laptop) {
    @include relative-font-size(1.75);
  }
}

h2 {
  @include relative-font-size(1.625);
  @include media-query($on-laptop) {
    @include relative-font-size(1.375);
  }
}

h3 {
  @include relative-font-size(1.25);
  @include media-query($on-laptop) {
    @include relative-font-size(1.125);
  }
}

/*
 * Images
 */
img {
  padding: 6px;
  border: 1px solid $grey-color;
  border-radius: 5px;
  max-width: 100%;
  vertical-align: middle; /* 中心对齐 */
}

/*
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

/*
 * Links
 */
a {
  text-decoration: none;
}

/*
 * Blockquotes
 */
blockquote {
  border-left: 4px solid $grey-color;
  padding-left: $spacing-unit / 2;
  background: $light-grey-color;
  font-style: italic;
  letter-spacing: -1px;
}

/*
 * Code formatting
 */
pre,
code {
  border-radius: 2px;
  background: $light-grey-color;
  @include relative-font-size(0.9375);
}

code {
  padding: 3px 6px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;
  > code {
    padding-left: 0;
  }
}

/*
 * Tables
 */
.table-wrapper {
  overflow-x: auto;
}

table {
  border: 1px solid $grey-color;
  border-collapse: collapse; /* 合并表格边框*/
  width: 100%;
  text-align: left;
  tr {
    &:nth-child(even) {
      background: $light-grey-color;
    }
  }
  th, td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }
  th {
    border: 1px solid $grey-color;
    background: darken($light-grey-color, 10%);
  }
  td {
    border: 1px solid $grey-color;
  }
}

/*
 * Clearfix
 */
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

/*
 * code header background
 */
h3[id="html"],
h3[id="html-1"],
h3[id="html-2"],
h3[id="css"],
h3[id="css-1"],
h3[id="css-2"],
h3[id="javascript"],
h3[id="javascript-1"],
h3[id="javascript-2"],
h3[id="jquery"],
h3[id="jquery-1"],
h3[id="jquery-2"],
h3[id="markdown"],
h3[id="demo"],
h3[id="demo-1"],
h3[id="demo-2"] {
  display: inline-block;
  margin-bottom: 2px;
  border-radius: 4px;
  padding: 2px 5px 1px;
  color: $white-color;
  font-size: $base-font-size;
}

h3[id="html"],
h3[id="html-1"],
h3[id="html-2"],
h3[id="markdown"] {
  background: linear-gradient(135deg, #ff4c9f, #ff7b74);
}

h3[id="css"],
h3[id="css-1"],
h3[id="css-1"] {
  background: linear-gradient(135deg, #7983ff, #5f9de9);
}

h3[id="javascript"],
h3[id="javascript-1"],
h3[id="javascript-2"],
h3[id="jquery"],
h3[id="jquery-1"],
h3[id="jquery-2"] {
  background: linear-gradient(135deg, #ffb000, #f58818);
}

h3[id="demo"],
h3[id="demo-1"],
h3[id="demo-2"] {
  background: linear-gradient(135deg, #0091EA, #00B8D4);
}