/*
 * Comment new
 */
.comment-new-title {
  padding-top: $spacing-unit * 2;
}

.comment-new-text {
  margin-top: $spacing-unit;
  border: 0;
  border-radius: $spacing-unit / 5;
  width: $spacing-unit * 10;
  height: $spacing-unit * 1.5;
  font-size: $base-font-size * 1.5;
  text-indent: $spacing-unit / 2;
  color: darken($grey-color, 55%);
  background: darken($grey-color, 5%);
  @include media-query($on-palm) {
    padding-left: 0;
    width: calc(100vw - 20px);
    text-indent: 0;
  }
  &:focus {
    box-shadow: 0 0 1px 1px $grey-color-dark;
    outline: none;
  }
}

.comment-new-email {
  margin-top: $spacing-unit;
  margin-left: $spacing-unit;
  padding-left: 0;
  border: 0;
  border-radius: $spacing-unit / 5;
  width: $spacing-unit * 10;
  height: $spacing-unit * 1.5;
  font-size: $base-font-size * 1.5;
  text-indent: $spacing-unit / 2;
  color: darken($grey-color, 55%);
  background: darken($grey-color, 5%);
  @include media-query($on-palm) {
    display: block;
    margin-left: 0;
    padding-left: 0;
    width: calc(100vw - 20px);
    text-indent: 0;
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 1px 1px $grey-color-dark;
  }
}

.comment-new-message {
  margin-top: $spacing-unit;
  border: 0;
  border-radius: $spacing-unit / 5;
  width: $content-width;
  height: $spacing-unit * 8;
  font-size: $base-font-size * 1.5;
  text-indent: $spacing-unit / 2;
  color: darken($grey-color, 55%);
  background: darken($grey-color, 5%);
  overflow: hidden;
  @include media-query($on-palm) {
    padding-left: 0;
    text-indent: 0;
    width: calc(100vw - 20px);
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 1px 1px $grey-color-dark;
  }
}

.comment-new-submit {
  margin-top: $spacing-unit;
  border: 0.1rem solid $link-color;
  border-radius: $spacing-unit;
  padding: 0 $spacing-unit;
  height: $spacing-unit * 1.8;
  font-size: $base-font-size;
  color: $link-color;
  background: $grey-color;
  &:hover {
    color: $white-color;
    background: $link-color;
  }
  &:focus {
    outline: none
  }
}