/*
 * Comment new
 */
.comment-new-title {
  margin-top: $spacing-unit * 2;
}

.comment-new-text {
  float: left;
  width: 48%;
  height: $spacing-unit * 1.6;
}

.comment-new-email {
  float: right;
  width: 48%;
  height: $spacing-unit * 1.6;
}

.comment-new-message {
  width: 100%;
  height: $spacing-unit * 8;
  overflow: hidden;
}

.comment-new-text,
.comment-new-email,
.comment-new-message {
  margin-top: $spacing-unit;
  border: 0;
  border-radius: $spacing-unit / 5;
  font-size: $base-font-size * 1.5;
  text-indent: $spacing-unit / 2;
  color: darken($grey-color, 25%);
  background: lighten($grey-color, 25%);
  @include media-query($on-palm) {
    width: 100%;
    text-indent: 0;
  }
  &:focus {
    box-shadow: 0 0 1px 1px $grey-color;
    outline: none;
  }
}

.comment-new-submit {
  margin-top: $spacing-unit;
  border: 2px solid $red-color;
  border-radius: $spacing-unit;
  padding: 0 $spacing-unit;
  height: $spacing-unit * 1.6;
  font-size: $base-font-size;
  color: $red-color;
  background: $light-grey-color;
  cursor: pointer;
  &:hover {
    background: $red-color;
    color: $white-color;
  }
  &:focus {
    outline: none
  }
}