/*
 * Comments
 */
.comment {
  padding-top: $spacing-unit * 5;
  color: darken($grey-color, 55%);
  background: linear-gradient(177deg, transparent 150px, $grey-color 0);
}

.comments-size {
  padding-top: $spacing-unit * 2;
  border-bottom: 2px solid $grey-color-dark;
  padding-bottom: $spacing-unit / 3;
}

.comments-name {
  padding-top: $spacing-unit / 2;
  font-size: $base-font-size * 1.5;
}

.comments-date {
  padding: ($spacing-unit / 3) 0;
  font-style: italic;
  font-size: $small-font-size;
}

.comments-message {
  border-bottom: 1px solid $grey-color-dark;
}

/*
 * Comment new
 */
.comment-new-title {
  padding-top: $spacing-unit * 2;
}

.comment-new-text {
  //display: inline-block;
  margin-top: $spacing-unit;
  border: 0;
  border-radius: $spacing-unit / 5;
  width: $spacing-unit * 10;
  height: $spacing-unit * 1.5;
  font-size: $base-font-size * 1.5;
  text-indent: $spacing-unit / 2;
  color: darken($grey-color, 55%);
  background: darken($grey-color, 5%);
  @include media-query($on-palm) {
    padding-left: 0;
    text-indent: 0;
    width: calc(100vw - 20px);
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 1px 1px $link-color;
  }
}

.comment-new-email {
  //display: inline-block;
  margin-top: $spacing-unit;
  margin-left: $spacing-unit;
  padding-left: 0;
  text-indent: 0;
  border: 0;
  border-radius: $spacing-unit / 5;
  width: $spacing-unit * 10;
  height: $spacing-unit * 1.5;
  font-size: $base-font-size * 1.5;
  text-indent: $spacing-unit / 2;
  color: darken($grey-color, 55%);
  background: darken($grey-color, 5%);
  @include media-query($on-palm) {
    display: block;
    padding-left: 0;
    text-indent: 0;
    margin-left: 0;
    width: calc(100vw - 20px);
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 1px 1px $link-color;
  }
}

.comment-new-message {
  margin-top: $spacing-unit;
  border: 0;
  border-radius: $spacing-unit / 5;
  width: $content-width;
  height: $spacing-unit * 8;
  font-size: $base-font-size * 1.5;
  text-indent: $spacing-unit / 2;
  color: darken($grey-color, 55%);
  background: darken($grey-color, 5%);
  overflow: hidden;
  @include media-query($on-palm) {
    padding-left: 0;
    text-indent: 0;
    width: calc(100vw - 20px);
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 1px 1px $link-color;
  }
}

.comment-new-submit {
  margin-top: $spacing-unit;
  border: 0.1rem solid $link-color;
  border-radius: $spacing-unit;
  padding: 0 $spacing-unit;
  height: $spacing-unit * 1.8;
  font-size: $base-font-size;
  color: $link-color;
  background: $grey-color;
  &:hover {
    color: $white-color;
    background: $link-color;
  }
  &:focus {
    outline: none
  }
}

/*
 * post-recent
 */
.post-recent {
  padding-top: $spacing-unit * 1.5;
  padding-bottom: $spacing-unit * 3;
  font-size: $base-font-size * 1.5;
  
  .post-recent-newer {
    float: left;
    color: darken($grey-color, 55%);
    &:hover {
      color: $link-color;
    }
  }
  
  .post-recent-older {
    float: right;
    color: darken($grey-color, 55%);
    &:hover {
      color: $link-color;
    }
  }
  
  svg {
    width: 18px;
    height: 18px;
    color: darken($grey-color, 55%);
  }
}

.icon-left-link:hover path {
  fill: $link-color;
}

.icon-right-link:hover path {
  fill: $link-color;
}