/*
 * Comments
 */
.comment {
  padding-top: $spacing-unit * 3;
  color: darken($grey-color, 25%);
  background: linear-gradient(177deg, transparent 100px, $light-grey-color 0);
}

.comments-size {
  margin-top: $spacing-unit * 2;
  border-bottom: 2px solid $grey-color;
  padding-bottom: $spacing-unit / 3;
}
.comments-no-comment{
  font-size: $base-font-size * 1.5;
}
.comments-name {
  margin-top: $spacing-unit / 2;
  font-size: $base-font-size * 1.5;
}

.comments-date {
  margin: ($spacing-unit / 3) 0;
  font-style: italic;
  font-size: $small-font-size;
}

.comments-message {
  border-bottom: 1px solid $grey-color;
}