/*
 * footer
 */
footer {
  padding-top: $spacing-unit * 3;
  padding-bottom: $spacing-unit * 2;
  text-align: center;
  color: $white-color;
  background: $deep-grey-color;
}

.footer-social {
  margin-bottom: $spacing-unit;
  
  li {
    display: inline-block;
    margin: 0 10px;
    
    a {
      fill: $white-color;
    }
    
    a[title="github"] {
      &:hover {
        fill: #a5dcef;
      }
    }
    
    a[title="linkedin"] {
      &:hover {
        fill: #007ab6;
      }
    }
    
    a[title="facebook"] {
      &:hover {
        fill: #4267b2;
      }
    }
    
    a[title="weibo"] {
      &:hover {
        fill: #e6162d;
      }
    }
  }
}

.copyright {
  margin-bottom: 0;
}

.author {
  margin-bottom: 0;
  letter-spacing: 1px;
}

.footer-nav-title {
  display: inline-block;
  margin: 0 ($spacing-unit / 2);
  padding: $spacing-unit 0;
  color: $white-color;
  @include relative-font-size(1.125);
  &:hover {
    color: $red-color;
  }
  &:active {
    color: $grey-color;
  }
}