/*
 * footer
 */
footer {
  height: $spacing-unit * 4;
  line-height: $spacing-unit * 4;
  color: $white-color;
  background: $deep-grey-color;
  @include media-query($on-palm) {
    text-align: center;
  }
}