/*
 * header
 */
header {
  margin-bottom: $spacing-unit * 2;
  height: $spacing-unit * 2.5;
  line-height: $spacing-unit * 2.5;
  background: $black-color;
  
  .site-title {
    float: left;
    @include relative-font-size(1.625);
    letter-spacing: -1px;
    color: $white-color;
  }
  
  nav {
    float: right;
  
    .page-link {
      margin-left: 20px;
      color: $white-color;
      &:hover {
        color: $grey-color-dark;
      }
    }
    
    .search-palm {
      display: none;
    }
    
    @include media-query($on-palm) {
      .page-link {
        display: none;
      }
      .search-palm {
        display: block;
        margin-top: 5px;
        margin-right: 5px;
      }
    }
  }
}