/*
 * post list
 */
.post-list {
  &:not(:last-child) {
    border-bottom: 1px solid $grey-color;
  }
  &:not(:first-child) {
    padding-top: $spacing-unit * 3;
  }
  padding-bottom: $spacing-unit * 3;
  list-style: none; /* 去掉标题的圆点 */
  li {
    margin-left: 1em;
  }
  a {
    color: $red-color;
  }
}

/*.post-list-header {
  position: relative;
  &:after {
    border-bottom: 1px solid $deep-grey-color;
    position: absolute;
    top: -61px;
    left: -30rem;
    width: 100%;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
    content: "";
  }
  .post-list:hover &:after {
    transform: translateX(30rem);
  }
}*/

a.post-list-title {
  display: block;
  color: $deep-grey-color;
  
  span {
    display: inline-block;
    position: relative;
    &:after {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: $red-purple-color;
      transition: transform .3s;
      transform: scaleX(0);
      transform-origin: left center;
      content: '';
    }
    .post-list-header:hover & {
      &::after {
        transform: scaleX(1);
      }
    }
  }
}

.post-list-readmore {
  display: block;

  span {
    display: inline-block;
    margin-top: $spacing-unit;
    border: 2px solid;
    border-radius: $spacing-unit;
    padding: ($spacing-unit / 3) $spacing-unit;
    font-size: $large-font-size;
    letter-spacing: -1px;
    color: $red-color;
    &:hover {
      border-color: $red-color;
      background: $red-color;
      color: $white-color;
      -webkit-transition: 500ms;
      -moz-transition: 500ms;
      transition: 500ms;
    }
  }
}

