/*
 * Content width
 */
header,
.page-content,
.post-content,
.comment,
footer {
  padding-left: calc(50vw - 450px);
  padding-right: calc(50vw - 450px); /*若设置为50%，IE会有水平滚动条*/
  @include media-query($on-laptop) {
    padding-left: $spacing-unit / 3;
    padding-right: $spacing-unit / 3;
  }
}

/*
 * Site header
 */
header {
  /* Positioning context for the mobile navigation icon */
  position: relative;
  margin-bottom: $spacing-unit * 2;
  height: $spacing-unit * 2;
  background: $black-color;
  
  a.site-title {
    float: left;
    @include relative-font-size(1.625);
    line-height: $spacing-unit * 2;
    letter-spacing: -1px;
    color: $white-color;
  }
  
  nav {
    float: right;
    line-height: $spacing-unit * 2;
    
    input.nav-trigger {
      display: none;
    }
    
    span.menu-icon {
      display: none;
    }
    
    a.page-link {
      margin-left: 20px;
      line-height: $base-line-height;
      color: $white-color;
      &:hover{
        color: $grey-color-dark;
      }
    }
 
    @include media-query($on-palm) {
      position: absolute;
      top: 10px;
      right: $spacing-unit / 3;
      padding-left: $spacing-unit / 6;
      padding-right: $spacing-unit / 6;
      border: 1px solid $grey-color;
      border-radius: 5px;
      text-align: right;
      background: $white-color;
      
      label[for="nav-trigger"] {
        display: block;
        float: right;
        width: 36px;
        height: 36px;
        z-index: 2;
        cursor: pointer;
        span.menu-icon {
          display: block;
          padding-top: 10px;
          width: 36px;
          height: 26px;
          line-height: 0;
          text-align: center;
          
          > svg path {
            fill: $black-color;
          }
        }
      }
      
      input ~ .trigger {
        clear: both;
        display: none;
      }
      
      input:checked ~ .trigger {
        display: block;
        padding-bottom: 5px;
      }
      
      a.page-link {
        display: block;
        padding: 5px 10px;
        color: $black-color;
        margin-left: 0;
      }
    }
  }
}

/*
 * Page content
 */
.post-list {
  > li {
    &:not(:first-child) {
      padding-top: $spacing-unit * 3;
    }
    padding-bottom: $spacing-unit * 3;
    &:not(:last-child) {
      border-bottom: 1px solid $grey-color;
    }
    list-style: none;
    
    > h1 {
      display: inline-block;
      
      > a {
        display: inline-block;
        text-decoration: none;
        color: $black-color;
        &:after {
          display: block;
          width: 0;
          height: 2px;
          background: $linear-color;
          transition: width .5s ease, background-color .5s ease;
          content: '';
        }
        &:hover:after {
          width: 100%;
          background: $linear-color;
        }
      }
    }
    
    span.post-list-meta {
      display: block;
      padding-bottom: $spacing-unit / 3;
      font-size: $small-font-size;
      font-style: italic;
    }
    
    a.post-list-readmore {
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
      align-items: center;
      margin-top: $spacing-unit / 2;
      border: 0.1rem solid $link-color;
      border-radius: $spacing-unit;
      padding: 0 $spacing-unit;
      height: $spacing-unit * 1.8;
      font-size: $base-font-size;
      text-decoration: none;
      color: $link-color;
      &:hover {
        border: 0.1rem solid $black-color;
        color: $white-color;
        background: $black-color;
        -webkit-transition: 500ms;
        -moz-transition: 500ms;
        -o-transition: 500ms;
        transition: 500ms;
      }
    }
  }
}

.pagination {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit * 3;
  
  .pagination-link {
    margin: 0 ($spacing-unit / 2);
    font-size: $base-font-size * 2;
    color: $black-color;
    &:hover {
      color: $link-color;
    }
  }
  
  .pagination-link-active {
    margin: 0 ($spacing-unit / 2);
    border-radius: 100%;
    width: $spacing-unit * 1.6;
    height: 100%;
    font-size: $base-font-size * 2;
    text-align: center;
    color: $white-color;
    background: $link-color;
    cursor: default;
  }
  
  .icon-left-lighten {
    fill: lighten($black-color, 50%);
    &:hover path {
      fill: lighten($link-color, 15%)
    }
  }
  
  .icon-right-lighten {
    fill: lighten($black-color, 50%);
    &:hover path {
      fill: lighten($link-color, 15%)
    }
  }
}

/*
 * footer
 */
footer {
  height: $spacing-unit * 5;
  line-height: $spacing-unit * 5;
  color: $grey-color;
  background: $black-color;
  @include media-query($on-palm) {
    text-align: center;
  }
}