/**
 * Site header
 */
.site-head-line {
  height: $spacing-unit / 6;
  background: $liner-color;
}

.site-header {
  height: 40vh;
  background-color: $gray-color;
  position: relative;

  .site-title-position {
    position: absolute;
    top: 0;
    margin-top: 20vh;

    .site-title {
      @include relative-font-size(3);
      line-height: $base-line-height * $base-font-size * 2.25;
      letter-spacing: -1px;
    }
  }
}

.header-border {
  border-top: 100px solid $gray-color;
  border-right: calc(100vw - 17px) solid transparent;
  @media screen and(max-device-width: 1024px) {
    border-right: 100vw solid transparent;
  }
  width: 0;
  height: 0;
}

.header-home {
  float: right;
  font-size: $base-font-size * 1.5;
  &:hover {
    color: $link-color;
  }
}

/**
 * Page content
 */
.page-content {
  padding-top: $spacing-unit;

  .post-list {
    margin-left: 0;
    list-style: none;

    > li {
      border-bottom: 1px solid $grey-color-light;
      padding-top: $spacing-unit * 2;
      padding-bottom: $spacing-unit * 2;

      > h2 {
        display: inline-block;
        margin-bottom: 0;
        font-size: $base-font-size * 2;

        > a {
          display: inline-block;
          text-decoration: none;
          &:after {
            display: block;
            margin: 0 auto;
            width: 0;
            height: 2px;
            background: $liner-color;
            transition: width .5s ease, background-color .5s ease;
            content: '';
          }
          &:hover:after {
            width: 100%;
            background: $liner-color;
          }
        }
      }

      .post-list-meta {
        display: block;
        margin: $spacing-unit / 2 0;
        font-size: $small-font-size;
        font-style: italic;
        color: $grey-color;
      }

      .post-readmore {
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        align-items: center;
        margin-top: $spacing-unit / 2;
        border: 0.1rem solid $link-color;
        border-radius: $spacing-unit;
        padding: 0 $spacing-unit;
        height: $spacing-unit * 1.8;
        font-size: $base-font-size;
        text-decoration: none;
        color: $link-color;
        &:hover {
          color: $background-color;
          background-color: $link-color;
          -webkit-transition: 500ms;
          -moz-transition: 500ms;
          -o-transition: 500ms;
          transition: 500ms;
        }
      }
    }
  }
}

.pagination {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding: $spacing-unit 0;
  .pagination-link {
    margin: 0 $spacing-unit / 2;
    font-size: $base-font-size * 2;
    &:hover {
      color: $link-color;
    }
  }

  .pagination-link-active {
    margin: 0 $spacing-unit / 2;
    border-radius: 50%;
    width: $spacing-unit * 1.6;
    height: 100%;
    font-size: $base-font-size * 2;
    text-align: center;
    color: $background-color;
    background-color: $link-color;
    cursor: default;
  }

  .icon-left-lighten {
    fill: rgba(0, 0, 0, 0.3);
    &:hover path {
      fill: rgba(233, 77, 80, 0.3);
    }
  }

  .icon-right-lighten {
    fill: rgba(0, 0, 0, 0.3);
    &:hover path {
      fill: rgba(233, 77, 80, 0.3);
    }
  }
}

.paginator-border {
  position: absolute;
  z-index: 5;
  border-top: 100px solid $background-color;
  border-right: calc(100vw - 17px) solid transparent;
  @media screen and(max-device-width: 1024px) {
    border-right: 100vw solid transparent;
  }
  width: 0;
  height: 0;
}

/**
 * Site footer
 */
.site-footer {
  height: 30vh;
  background: $liner-color;

  .footer-border {
    border-top: 100px solid $blue-color;
    border-right: calc(100vw - 17px) solid transparent;
    @media screen and(max-device-width: 1024px) {
      border-right: 100vw solid transparent;
    }
    width: 0;
    height: 0;
  }

  .footer-content {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    .icon-github {
      fill: $background-color;
      &:hover path {
        fill: $text-color;
      }
    }
  }
}

/**
 * Posts
 */

.post {
  padding-top: $spacing-unit * 2;

  .post-header {
    .post-title {
      @include relative-font-size(2.425);
      letter-spacing: -1px;
      line-height: 1;

      @include media-query($on-laptop) {
        @include relative-font-size(2.25);
      }
    }
    .post-meta {
      display: block;
      margin: $spacing-unit / 2 0;
      font-size: $small-font-size;
      font-style: italic;
      color: $grey-color;
    }
  }

  .post-content {
    margin-bottom: $spacing-unit;

    h2 {
      @include relative-font-size(2);

      @include media-query($on-laptop) {
        @include relative-font-size(1.75);
      }
    }

    h3 {
      @include relative-font-size(1.625);

      @include media-query($on-laptop) {
        @include relative-font-size(1.375);
      }
    }

    h4 {
      @include relative-font-size(1.25);

      @include media-query($on-laptop) {
        @include relative-font-size(1.125);
      }
    }
    a {
      color: rgba(233, 82, 80, 0.7);
      font-size: $base-font-size * 1.2;
      &:hover {
        color: $link-color;
      }
    }
  }

  .post-border {
    border-bottom: 100px solid $blue-color;
    border-left: calc(100vw - 17px) solid transparent;
    @media screen and(max-device-width: 1024px) {
      border-left: 100vw solid transparent;
    }
    width: 0;
    height: 0;
  }
}

/**
 * Comment
 */

.comment {
  padding-top: $spacing-unit * 1.5;
  color: $background-color;
  background-color: $blue-color;

  .comment-size {
    border-bottom: 2px solid $grey-color-light;
    padding-bottom: $spacing-unit / 2;
    font-size: $base-font-size * 2;
  }

  .comment-name {
    margin-top: $spacing-unit * 1.5;
    font-size: $base-font-size * 1.5;
  }

  .comment-date {
    margin-top: $spacing-unit / 3;
    margin-bottom: $spacing-unit / 3;
    font-style: italic;
    font-size: $small-font-size;
  }

  .comment-comment {
    margin-bottom: $spacing-unit;
    border-bottom: 1px solid $grey-color-light;
  }
}

/**
 * Comment new
 */

.comment-new {
  padding-top: $spacing-unit * 1.5;
  color: $background-color;
  background-color: $blue-color;

  .comment-new-title {
    font-size: $base-font-size * 2;
  }

  .comment-new-form {
    margin: 0;
    padding: 0;

    .comment-new-text {
      float: left;
      margin-top: $spacing-unit;
      border: 0;
      border-radius: $spacing-unit / 5;
      width: 48%;
      height: $spacing-unit * 1.5;
      font-size: $base-font-size * 1.5;
      color: $background-color;
      background-color: #27292d;
      @include media-query($on-palm) {
        float: none;
        width: 100%;
      }
      &:focus {
        outline: none
      }
    }

    .comment-new-email {
      float: right;
      margin-top: $spacing-unit;
      border: 0;
      border-radius: $spacing-unit / 5;
      width: 48%;
      height: $spacing-unit * 1.5;
      font-size: $base-font-size * 1.5;
      color: $background-color;
      background-color: #27292d;
      @include media-query($on-palm) {
        float: none;
        width: 100%;
      }
      &:focus {
        outline: none
      }
    }

    .comment-new-message {
      margin-top: $spacing-unit;
      border: 0;
      border-radius: $spacing-unit / 5;
      width: 100%;
      height: $spacing-unit * 8;
      font-size: $base-font-size * 1.5;
      color: $background-color;
      background-color: #27292d;
      overflow: hidden;
      &:focus {
        outline: none
      }
    }

    .comment-new-submit {
      margin-top: $spacing-unit;
      border: 0.1rem solid $link-color;
      border-radius: $spacing-unit;
      padding: 0 $spacing-unit;
      height: $spacing-unit * 1.8;
      font-size: $base-font-size;
      color: $link-color;
      background-color: $blue-color;
      &:hover {
        color: $background-color;
        background-color: $link-color;
      }
      &:focus {
        outline: none
      }
    }
  }
}

/**
 * post recent
 */
.post-recent {
  padding-top: $spacing-unit * 2;
  padding-bottom: $spacing-unit * 1.5;
  font-size: $base-font-size * 1.5;
  text-align: center;
  color: $background-color;
  background-color: $blue-color;

  .post-recent-newer {
    float: left;
    color: $background-color;
    &:hover {
      color: $link-color;
    }
  }

  .post-recent-older {
    float: right;
    color: $background-color;
    &:hover {
      color: $link-color;
    }
  }

  svg {
    width: 18px;
    height: 18px;
    fill: $background-color;
  }
}

.icon-left-link:hover path {
  fill: $link-color;
}

.icon-right-link:hover path {
  fill: $link-color;
}