/*
 * Content width
 */
.site-header,
.site-nav,
.page-content,
.post-content,
.post-blue-bg,
.site-footer {
  padding-left: calc(50% - 450px);
  padding-right: calc(50% - 450px);
  @include media-query($on-laptop) {
    padding-left: $spacing-unit / 3;
    padding-right: $spacing-unit / 3;
  }
}

/*
 * Site header
 */
.site-header {
  // Positioning context for the mobile navigation icon
  position: relative;
  min-height: $spacing-unit * 1.865;
  background: $blue-color;
  margin-bottom: $spacing-unit * 2;
}

.site-title {
  float: left;
  margin-bottom: 0;
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;

  &,
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $white-color;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $white-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 3;
    background-color: $white-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg path {
        fill: $blue-color;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;
      color: $blue-color;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}

/*
 * Page content
 */
.post-list {
  margin: 0;
  list-style: none;

  > li {
    &:first-child {
      margin-top: -($spacing-unit * 2);
    }
    padding: ($spacing-unit * 2) 0;
    border-bottom: 1px solid $grey-color-light;
    &:last-child {
      border-bottom: none;
    }

    > h2 {
      display: inline-block;
      margin-bottom: 0;
      //@include relative-font-size(1.625);

      > a {
        display: inline-block;
        text-decoration: none;
        &:after {
          display: block;
          width: 0;
          height: 2px;
          background: $linear-color;
          transition: width .5s ease, background-color .5s ease;
          content: '';
        }
        &:hover:after {
          width: 100%;
          background: $linear-color;
        }
      }
    }

    .post-list-meta {
      display: block;
      padding: ($spacing-unit / 3) 0;
      font-size: $small-font-size;
      font-style: italic;
      color: $grey-color;
    }

    .post-list-readmore {
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
      align-items: center;
      margin-top: $spacing-unit / 2;
      border: 0.1rem solid $link-color;
      border-radius: $spacing-unit;
      padding: 0 $spacing-unit;
      height: $spacing-unit * 1.8;
      font-size: $base-font-size;
      text-decoration: none;
      color: $link-color;
      &:hover {
        border: 0.1rem solid $black-color;
        color: $white-color;
        background: $black-color;
        -webkit-transition: 500ms;
        -moz-transition: 500ms;
        -o-transition: 500ms;
        transition: 500ms;
      }
    }
  }
}

.pagination {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit * 3;
  .pagination-link {
    margin: 0 ($spacing-unit / 2);
    font-size: $base-font-size * 2;
    &:hover {
      color: $link-color;
    }
  }

  .pagination-link-active {
    margin: 0 ($spacing-unit / 2);
    border-radius: 100%;
    width: $spacing-unit * 1.6;
    height: 100%;
    font-size: $base-font-size * 2;
    text-align: center;
    color: $white-color;
    background: $link-color;
    cursor: default;
  }

  .icon-left-lighten {
    fill: lighten($black-color, 50%);
    &:hover path {
      fill: lighten($link-color, 15%)
    }
  }

  .icon-right-lighten {
    fill: lighten($black-color, 50%);
    &:hover path {
      fill: lighten($link-color, 15%)
    }
  }
}

/*
 * Posts
 */
.post-content {
  .post-title {
    letter-spacing: -1px;
  }

  .post-meta {
    display: block;
    padding-bottom: $spacing-unit / 3;
    font-size: $small-font-size;
    font-style: italic;
    color: $grey-color;
  }

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
  a {
    color: lighten($link-color, 10%);
    font-size: $base-font-size * 1.2;
    &:hover {
      color: $link-color;
    }
  }
}

/*
 * Comments
 */
.post-blue-bg {
  padding-top: $spacing-unit * 5;
  color: darken($gray-color, 55%);
  background: linear-gradient(175deg, transparent 150px, $gray-color 0);
}

.comments-size {
  padding-top: $spacing-unit * 2;
  border-bottom: 2px solid $grey-color-light;
  padding-bottom: $spacing-unit / 3;
}

.comments-name {
  padding-top: $spacing-unit / 2;
  font-size: $base-font-size * 1.5;
}

.comments-date {
  padding: ($spacing-unit / 3) 0;
  font-style: italic;
  font-size: $small-font-size;
}

.comments-message {
  border-bottom: 1px solid $grey-color-light;
}

/*
 * Comment new
 */
.comment-new-title {
  padding-top: $spacing-unit * 2;
}

.comment-new-text {
  float: left;
  margin-top: $spacing-unit;
  border: 0;
  border-radius: $spacing-unit / 5;
  width: 48%;
  height: $spacing-unit * 1.5;
  font-size: $base-font-size * 1.5;
  text-indent: $spacing-unit / 2;
  color: darken($gray-color, 55%);
  background: darken($gray-color, 5%);
  @include media-query($on-palm) {
    float: none;
    width: 100%;
  }
  &:focus {
    outline: none
  }
}

.comment-new-email {
  float: right;
  margin-top: $spacing-unit;
  border: 0;
  border-radius: $spacing-unit / 5;
  width: 48%;
  height: $spacing-unit * 1.5;
  font-size: $base-font-size * 1.5;
  text-indent: $spacing-unit / 2;
  color: darken($gray-color, 55%);
  background: darken($gray-color, 5%);
  @include media-query($on-palm) {
    float: none;
    width: 100%;
  }
  &:focus {
    outline: none
  }
}

.comment-new-message {
  margin-top: $spacing-unit;
  border: 0;
  border-radius: $spacing-unit / 5;
  width: 100%;
  height: $spacing-unit * 8;
  font-size: $base-font-size * 1.5;
  text-indent: $spacing-unit / 2;
  color: darken($gray-color, 55%);
  background: darken($gray-color, 5%);
  overflow: hidden;
  &:focus {
    outline: none
  }
}

.comment-new-submit {
  margin-top: $spacing-unit;
  border: 0.1rem solid $link-color;
  border-radius: $spacing-unit;
  padding: 0 $spacing-unit;
  height: $spacing-unit * 1.8;
  font-size: $base-font-size;
  color: $link-color;
  background: $gray-color;
  &:hover {
    color: $white-color;
    background: $link-color;
  }
  &:focus {
    outline: none
  }
}

/*
 * post-recent
 */
.post-recent {
  padding-top: $spacing-unit * 1.5;
  padding-bottom: $spacing-unit * 3;
  font-size: $base-font-size * 1.5;

  .post-recent-newer {
    float: left;
    color: darken($gray-color, 55%);
    &:hover {
      color: $link-color;
    }
  }

  .post-recent-older {
    float: right;
    color: darken($gray-color, 55%);
    &:hover {
      color: $link-color;
    }
  }

  svg {
    width: 18px;
    height: 18px;
    color: darken($gray-color, 55%);
  }
}

.icon-left-link:hover path {
  fill: $link-color;
}

.icon-right-link:hover path {
  fill: $link-color;
}

/*
 * Site-footer
 */
.site-footer {
  padding-top: $spacing-unit * 1.5;
  padding-bottom: $spacing-unit * 1.5;
  color: $gray-color;
  background: $blue-color;
  @include media-query($on-palm) {
    text-align: center;
  }
}