/*
 * pagination
 */
.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: $spacing-unit * 3;
  font-size: $base-font-size * 2;
  
  .pagination-link {
    margin: 0 ($spacing-unit / 2);
    color: $black-color;
    &:hover {
      color: $link-color;
    }
    &:hover path{
      fill:$link-color;
    }
  }
  
  .pagination-link-active {
    margin: 0 ($spacing-unit / 2);
    border-radius: 100%;
    width: $spacing-unit * 1.6;
    height: $spacing-unit * 1.6;
    text-align: center;
    color: $white-color;
    background: $link-color;
    cursor: default;
  }
  
  .icon-lighten {
    fill: lighten($black-color, 50%);
    &:hover path {
      fill: lighten($link-color, 15%)
    }
  }
}