/*
 * Post
 */
.post-content{
  
  span.post-meta {
    display: block;
    padding-bottom: $spacing-unit / 3;
    font-size: $small-font-size;
    font-style: italic;
  }
  
  a {
    display: flex;
    align-items: center;
    vertical-align: center;
    color: $link-color;
    &:hover {
      opacity: 0.8;
    }
  }
  
  hr {
    margin: ($spacing-unit * 3) 0;
    border: 0;
    border-bottom: solid 1px $grey-color;
  }
}