/*
 * Post-content
 */
.post-content {
  span.post-meta {
    display: block;
    margin-bottom: $spacing-unit / 3;
    font-size: $small-font-size;
    font-style: italic;
  }
  
  a {
    color: $red-color;
    &:hover {
      opacity: 0.5;
    }
  }
  
  hr {
    margin: ($spacing-unit * 2) 0;
    border: 0;
    border-bottom: 1px solid $grey-color;
  }
}