/*
 * post list
 */
.post-list {
  > li {
    &:not(:first-child) {
      padding-top: $spacing-unit * 3;
    }
    padding-bottom: $spacing-unit * 3;
    &:not(:last-child) {
      border-bottom: 1px solid $grey-color;
    }
    list-style: none; /* 去掉标题的圆点 */
    a {
      color: $red-color;
    }
    li {
      margin-left: 1em;
    }
    > h1 {
      display: inline-block;
      
      > a {
        display: inline-block;
        text-decoration: none;
        color: $black-color;
        &:after {
          display: block;
          width: 0;
          height: 2px;
          background: $red-purple-color;
          transition: width .5s ease, background-color .5s ease;
          content: '';
        }
        &:hover:after {
          width: 100%;
          background: $red-purple-color;
        }
      }
      
    }
    
    span.post-list-meta {
      display: block;
      padding-bottom: $spacing-unit / 3;
      font-size: $small-font-size;
      font-style: italic;
    }
    
    a.post-list-readmore {
      display: inline-flex;
      align-items: center;
      margin-top: $spacing-unit / 2;
      border: 0.1rem solid $red-color;
      border-radius: $spacing-unit;
      padding: ($spacing-unit / 1.875) $spacing-unit;
      color: $red-color;
      &:hover {
        border: 0.1rem solid $deep-grey-color;
        color: $white-color;
        background: $deep-grey-color;
        -webkit-transition: 500ms;
        -moz-transition: 500ms;
        -o-transition: 500ms;
        transition: 500ms;
      }
    }
  }
}