#search {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw + 17px);
  height: 100vh;
  background: $black-color;
  transition: all 0.5s ease-in-out;
  transform: translate(100%, -100%) scale(0, 0);
  overflow-x: hidden;
  @include media-query($on-palm) {
    width: 100vw;
  }
  
  .search-close {
    position: fixed;
    top: 40px;
    right: 57px;
    background: none;
    border: 0;
    cursor: pointer;
    &:focus,
    &:active {
      outline: 0;
    }
    svg {
      pointer-events: none;
    }
    @include media-query($on-palm) {
      top: 24px;
      right: 16px;
    }
  }
  
  &.search-open {
    transform: translate(0px, 0px) scale(1, 1);
  }
}

.searchbox {
  position: relative;
  margin: ($spacing-unit * 3) auto 0;
  width: 70vw;
  height: 60px;
  border-bottom: 2px $grey-color solid;
  @include media-query($on-palm) {
    width: 95vw;
  }
  .algolia-autocomplete {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.searchbox__input {
  display: inline-block;
  -webkit-transition: box-shadow .4s ease, background .4s ease;
  transition: box-shadow .4s ease, background .4s ease;
  border: 0;
  background: $black-color;
  color: $grey-color;
  white-space: normal; //连续的空白符会被合并，换行符会被当作空白符来处理
  font-size: 48px;
  width: 100%; //搜索框百分百
}

/* 清除IE搜索框默认右端的X */
input[type="search"]::-ms-clear,
input[type="search"]::-ms-reveal {
  display: none;
}

/* 清除Chrome搜索框默认右端的X */
.searchbox__input::-webkit-search-decoration,
.searchbox__input::-webkit-search-cancel-button,
.searchbox__input::-webkit-search-results-button,
.searchbox__input::-webkit-search-results-decoration {
  display: none;
}

.searchbox__input:focus,
.searchbox__input:active,
.searchbox__reset:focus {
  outline: 0;
}

.searchbox__reset {
  position: absolute;
  top: 16px;
  right: 5px;
  border: 0;
  background: none;
  cursor: pointer;
  /* 元素内的文字及其子元素将不会被选中 */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.aa-dropdown-menu {
  margin-top: 16px;
  width: 100%;
  color: $grey-color;
  code {
    background: $black-color;
  }
  a {
    color: $grey-color;
  }
}

.aa-suggestion {
  padding: 4px;
  border-bottom: lighten($black-color, 5%) 1px solid;
  /* 鼠标键盘选中的背景色*/
  &.aa-cursor {
    background: lighten($black-color, 5%);
  }
  em {
    color: $link-color;
  }
}

.hide {
  display: none;
}

/*
 *search-nav
 */
.search-nav {
  margin-top: $spacing-unit / 2;
  a {
    display: block;
    color: $grey-color;
    font-size: $base-font-size * 3;
    &:hover {
      background: lighten($black-color, 5%);
    }
  }
}