#search {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $deep-grey-color;
  //transform: translate(100vw, -100vh) scale(0, 0);
  //transition: 0.5s linear;
  display: none;
  .search-close {
    float: right;
    margin-top: 20px;
    background: none;
    border: 0;
    cursor: pointer;
    &:focus,
    &:active {
      outline: 0;
    }
  }
  
/*  &.search-open {
    transform: translate(0px, 0px) scale(1, 1);
  }*/
}

.searchbox {
  position: relative;
  margin-top: $spacing-unit * 3;
  height: 60px;
  .algolia-autocomplete {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.searchbox-input {
  display: inline-block;
  -webkit-transition: box-shadow .4s ease, background .4s ease;
  transition: box-shadow .4s ease, background .4s ease;
  border: 0;
  border-bottom: 2px $grey-color solid;
  background: $deep-grey-color;
  color: $white-color;
  white-space: normal; /* 连续的空白符会被合并，换行符会被当作空白符来处理 */
  font-size: $base-font-size * 3;
  width: 100%; /* 搜索框百分百 */
}

input[type="search"]::-ms-clear,
input[type="search"]::-ms-reveal {
  display: none; /* 清除IE搜索框默认右端的X */
}

.searchbox-input::-webkit-search-decoration,
.searchbox-input::-webkit-search-cancel-button,
.searchbox-input::-webkit-search-results-button,
.searchbox-input::-webkit-search-results-decoration {
  display: none; /* 清除Chrome搜索框默认右端的X */
}

.searchbox-input:focus,
.searchbox-input:active,
.searchbox-reset:focus {
  outline: 0;
}

.searchbox-reset {
  position: absolute;
  top: 16px;
  right: 0;
  border: 0;
  background: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; /* 元素内的文字及其子元素将不会被选中 */
}

.aa-dropdown-menu {
  margin-top: 16px;
  width: 100%;
  color: $white-color;
  cursor: pointer;
  code {
    background: $deep-grey-color;
  }
  a {
    color: $white-color;
    pointer-events: none; /* 链接失效*/
  }
}

.aa-suggestion {
  padding: 4px;
  border-bottom: lighten($deep-grey-color, 5%) 1px solid;
  &.aa-cursor {
    background: lighten($deep-grey-color, 5%); /* 鼠标键盘选中的背景色*/
  }
  em {
    color: $red-color;
  }
}

.hide {
  display: none;
}

/*
 *search-nav
 */
.search-nav {
  margin-top: $spacing-unit / 2;
  a {
    display: block;
    color: $white-color;
    font-size: $base-font-size * 3;
    &:hover {
      background: lighten($deep-grey-color, 5%);
    }
  }
}