/*
 * page-about
 */
.page-about {
  color: $grey-color;
  p {
    margin-left: 3em;
    text-indent: -3em;
    @include relative-font-size(1.5);
    @include media-query($on-laptop) {
      @include relative-font-size(1.25);
    }
  }
  hr {
    margin-top: $spacing-unit;
    margin-bottom: $spacing-unit;
    border: none;
    height: 1px;
    background: lighten($grey-color, 50%);
  }
}

