/*
 * Comment new
 */
.comment-new-title {
  margin-top: $spacing-unit * 2;
  margin-bottom: -15px;
}

.comment-new-text {
  float: left;
  width: 48%;
  height: $spacing-unit * 1.6;
}

.comment-new-email {
  float: right;
  width: 48%;
  height: $spacing-unit * 1.6;
}

.comment-new-message {
  width: 100%;
  height: $spacing-unit * 8;
  overflow: hidden;
}

.comment-new-text,
.comment-new-email,
.comment-new-message {
  margin-top: $spacing-unit;
  border: 0;
  border-radius: $spacing-unit / 5;
  font-size: $large-font-size;
  text-indent: $spacing-unit / 2;
  color: darken($grey-color, 25%);
  background: lighten($grey-color, 25%);
  &:focus {
    background: lighten($grey-color, 20%);
  }
  
  @include media-query($small) {
    width: 100%;
    text-indent: 0;
  }
}

.comment-new-submit {
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;
  border: 2px solid;
  border-radius: $spacing-unit;
  padding: ($spacing-unit / 3) $spacing-unit;
  @include relative-font-size(1.5);
  color: $red-color;
  background: $light-grey-color;
  cursor: pointer;
  &:hover {
    border-color: $red-color;
    background: $red-color;
    color: $white-color;
  }
}