/*
 * Comments
 */
.comments-title {
  margin-top: $spacing-unit * 2;
  border-bottom: 2px solid $grey-color;
  padding-bottom: $spacing-unit / 3;
}

.comments-name {
  margin-top: $spacing-unit / 2;
  font-size: $base-font-size * 1.5;
}

.comments-date {
  margin: ($spacing-unit / 3) 0;
  font: {
    style: italic;
    size: $base-font-size * 0.875;
  }
}

.comments-message {
  border-bottom: 1px solid $grey-color;
}



/*
 * Comment new
 */
/*.comment-new-title {
  margin-top: $spacing-unit * 2;
  margin-bottom: -15px;
}

.comment-new-text {
  float: left;
  width: 48%;
  height: $spacing-unit * 1.6;
}

.comment-new-email {
  float: right;
  width: 48%;
  height: $spacing-unit * 1.6;
}

.comment-new-message {
  width: 100%;
  height: $spacing-unit * 8;
  overflow: hidden;
}

.comment-new-text,
.comment-new-email,
.comment-new-message {
  margin-top: $spacing-unit;
  border: 0;
  border-radius: $spacing-unit / 5;
  font-size: $base-font-size * 1.5;
  text-indent: $spacing-unit / 3;
  color: darken($grey-color, 25%);
  background: lighten($grey-color, 25%);
  &:focus {
    background: lighten($grey-color, 20%);
  }
  
  @include media-query($small) {
    width: 100%;
  }
}

.comment-new-submit {
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;
  border:$red-color 2px solid;
  border-radius: $spacing-unit;
  padding: ($spacing-unit / 3) $spacing-unit;
  font-size: $base-font-size * 1.5;
  color: $red-color;
  background: $light-grey-color;
  cursor: pointer;
  &:hover {
    background: $red-color;
    color: $white-color;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
}*/

input,
textarea {
  display: block;
  width: 100%;
  margin-bottom: 2rem;
}

button {

}

.Comment-form {
  position: relative;
}

.Comment-form-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 10;
  align-items: center;
  justify-content: center;
  display: none;
}

.CommentForm-input {
  //@include placeholder(rgba($black, 0.5));
  background: rgba($black-color, 0.03);
  border-radius: 0.4rem;
  color: $black-color;
  padding: 1rem 1.5rem;
  resize: none;
  transition: background $time;
  
  &:focus {
    //@include placeholder(rgba($black-color, 0.75));
    background: rgba($black-color, 0.05);
  }
}

.CommentForm-input--catch {
  margin-left: -10000px;
  opacity: 0;
  position: absolute;
}

.CommentForm-input--message {
  height: 20rem;
}

.CommentForm-errorMessages {
  color: $red-color;
  margin-bottom: 2rem;
}

.CommentForm-sendFailed {
  color: $red-color;
  display: none;
  margin-bottom: 2rem;
}

.CommentForm-sendSucceeded {
  display: none;
  margin-bottom: 2rem;
}

.CommentForm-loader {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 0 auto;
}

.CommentForm-sendButton {
  align-items: center;
  border: 1px solid $red-color;
  border-radius: 2.3rem;
  background: none;
  color: $red-color;
  display: inline-flex;
  font-size: 1.8rem;
  height: 4.6rem;
  margin: 0;
  padding: 0 2.5rem;
  transition: color $time, background $time;
  
  @include media-query($medium) {
    border-radius: 2.5rem;
    height: 5rem;
    padding: 0 3rem;
  }
  
  &:hover {
    background: $red-color;
    color: $white-color;
  }
}

@keyframes comment-loader-bounce {
  0%, 100% {
    transform: scale(0);
  } 50% {
      transform: scale(1);
    }
}

.CommentForm-loaderElement {
  animation: comment-loader-bounce 2.0s infinite ease-in-out;
  background-color: $red-color;
  border-radius: 50%;
  height: 100%;
  left: 0;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 100%;
}

.CommentForm-loaderElement--two {
  animation-delay: -1.0s;
  background-color: $deep-grey-color;
}

.Comments-wrapper {
  padding-top: 4rem;
}


