/*
 * Comments
 */
.comments-title {
  margin-top: $spacing-unit * 2;
  border-bottom: 2px solid $grey-color;
  padding-bottom: $spacing-unit / 3;
}

.comments-name {
  margin-top: $spacing-unit / 2;
  font-size: $base-font-size * 1.5;
}

.comments-date {
  margin: ($spacing-unit / 3) 0;
  font: {
    style: italic;
    size: $base-font-size * 0.875;
  }
}

.comments-message {
  border-bottom: 1px solid $grey-color;
}

/*
 * Comment form
 */
.comment-form-title {
  margin-top: $spacing-unit * 2;
  margin-bottom: -15px;
}

.comment-form {
  position: relative;
}

.comment-form-input--name {
  float: left;
  width: 48%;
  height: $spacing-unit * 1.6;
}

.comment-form-input--email {
  float: right;
  width: 48%;
  height: $spacing-unit * 1.6;
}

.comment-form-input--message {
  width: 100%;
  height: $spacing-unit * 8;
  overflow: hidden;
}

.comment-form-input--name,
.comment-form-input--email,
.comment-form-input--message {
  margin-top: $spacing-unit;
  border: 0;
  border-radius: $spacing-unit / 5;
  font-size: $base-font-size * 1.5;
  text-indent: $spacing-unit / 3;
  color: darken($grey-color, 25%);
  background: lighten($grey-color, 25%);
  &:focus {
    background: lighten($grey-color, 20%);
  }
  @include media-query($small) {
    width: 100%;
  }
}

.comment-form-sendFailed {
  color: $red-color;
  display: none;
  margin-bottom: 2rem;
}

.comment-form-sendSucceeded {
  display: none;
  margin-bottom: 2rem;
}

.comment-form-sendButton {
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;
  border: $red-color 2px solid;
  border-radius: $spacing-unit;
  padding: ($spacing-unit / 3) $spacing-unit;
  font-size: $base-font-size * 1.5;
  color: $red-color;
  background: $light-grey-color;
  cursor: pointer;
  &:hover {
    background: $red-color;
    color: $white-color;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

.comment-form-overlay {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 10;
}

@keyframes bouncing-loader {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0.1;
    transform: translateY(-1rem);
  }
}

.bouncing-loader {
  display: flex;
  justify-content: center;
}

.bouncing-loader > div {
  width: 1rem;
  height: 1rem;
  margin: 3rem 0.2rem;
  background: $red-color;
  border-radius: 50%;
  animation: bouncing-loader 0.6s infinite alternate;
}

.bouncing-loader > div:nth-child(2) {
  animation-delay: 0.2s;
}

.bouncing-loader > div:nth-child(3) {
  animation-delay: 0.4s;
}