.footer-angled {
  top: 0;
  z-index: 5;
  width: 50%;
  height: 200px;
  pointer-events: none;
}

.footer-angled-left {
  @include angled-edge('inside top', 'lower right', $white-color, $width: 2000, $height: 200);
  position: absolute;
  left: 0;
  
  &::after {
    background-position: right center;
  }
}

.footer-angled-right {
  @include angled-edge('inside top', 'lower left', $white-color, $width: 2000, $height: 200);
  position: absolute;
  right: 0;
  
  &::after {
    background-position: left center;
  }
}

.footer-angled-left-grey {
  @include angled-edge('inside top', 'lower right', $light-grey-color, $width: 2000, $height: 200);
  position: absolute;
  left: 0;
  
  &::after {
    background-position: right center;
  }
}

.footer-angled-right-grey {
  @include angled-edge('inside top', 'lower left', $light-grey-color, $width: 2000, $height: 200);
  position: absolute;
  right: 0;
  
  &::after {
    background-position: left center;
  }
}