/*
 * pagination
 */
.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: $spacing-unit * 3;
  font-size: $base-font-size * 2;
}

.pagination-link {
  display: inline-block;
  width: $spacing-unit * 1.5;
  height: $spacing-unit * 1.5;
  text-align: center;
  color: $black-color;
  &:hover {
    color: $red-color;
    fill: $red-color;
  }
}
.pagination-link,
.pagination-more{
  float: left;
}

.pagination-link-active {
  border-radius: 100%;
  color: $white-color;
  background: $red-color;
  cursor: default;
  &:hover{
    color: $white-color;
  }
}

.pagination-first,
.pagination-last,
.pagination-more {
  display: block;
  @include media-query($small) {
    display: none;
  }
}

.icon-lighten {
  fill: lighten($black-color, 50%);
  &:hover {
    fill: lighten($red-color, 15%)
  }
}

.arrow-left svg {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.arrow-right svg {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}