/*
 * Pagination
 */
.pagination {
  display: flex;
  justify-content: center;
  font-size: $base-font-size * 2;
}

.pagination-item {
  display: inline-block;
  width: $spacing-unit * 1.5;
  height: $spacing-unit * 1.5;
  text-align: center;
  color: $black-color;
  @include hover {
    color: $red-color;
    fill: $red-color;
  }
}

.pagination-item,
.pagination-more {
  float: left;
}

.pagination-item-active {
  border-radius: 100%;
  color: $white-color;
  background: $red-color;
  cursor: default;
  @include hover {
    color: $white-color;
  }
}

.pagination-first,
.pagination-last,
.pagination-more {
  display: none;
  @include media-query($small) {
    display: block;
  }
}

.icon-lighten {
  fill: lighten($black-color, 50%);
  @include hover {
    fill: lighten($red-color, 15%)
  }
}

.arrow-left svg {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.arrow-right svg {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}