/*
 * Post Recent
 */
.post-newer,
.post-older {
  display: block;
  padding: $spacing-unit 0;
  width: 50%;
  font-size: $base-font-size * 2;
  color: darken($grey-color, 25%);
  fill: darken($grey-color, 25%);
  @include hover {
    background: darken($light-grey-color, 2%);
    color: $red-color;
    fill: $red-color;
  }
}

.post-newer {
  float: left;
}

.post-older {
  float: right;
  text-align: right;
}