/*
 * post-recent
 */
.post-recent-newer,
.post-recent-older {
  padding: $spacing-unit 0;
  font-size: $base-font-size * 2;
  color: darken($grey-color, 25%);
  fill: darken($grey-color, 25%);
  &:hover {
    background: darken($light-grey-color, 2%);
    color: $red-color;
    fill: $red-color;
  }
}

.post-recent-newer {
  display: block;
  float: left;
  width: 50%;
  svg {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

.post-recent-older {
  display: block;
  float: right;
  width: 50%;
  text-align: right;
  svg {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}