/*
 * Search Page
 */
.search {
  position: fixed;
  top: -100vh;
  right: 0;
  left: 0;
  z-index: 99;
  @include content-width;
  @include clearfix;
  width: 100vw;
  height: 100vh;
  background: $deep-grey-color;
  transition: -webkit-transform $time;
  transition: transform $time;
  transition: transform $time, -webkit-transform $time;
}

.search-close-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: $spacing-unit * 2.5;
}

.search-close {
  border: none;
  background: none;
  cursor: pointer;
}

.search-box {
  position: relative;
  height: $spacing-unit * 2;
}

.algolia-autocomplete {
  display: block;
  width: 100%;
  height: 100%;
}

.search-input {
  display: inline-block;
  transition: box-shadow $time ease, background $time ease;
  border: 0;
  border-bottom: 2px $grey-color solid;
  
  width: 100%;
  background: $deep-grey-color;
  color: $white-color;
  white-space: normal;
  font-size: $base-font-size * 3;
  //清除iOS搜索框的圆边框
  -webkit-appearance: none;
  border-radius: 0;
  // iOS search padding clear
  padding: 0;
  &::-ms-clear,
  &::-ms-reveal {
    //清除IE搜索框默认右端的X
    display: none;
  }
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    // 清除Chrome搜索框默认右端的X
    display: none;
  }
}

.search-reset {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  cursor: pointer;
  // 元素内的文字及其子元素将不会被选中
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.aa-dropdown-menu {
  height: calc(100vh - 135px);
  width: 100%;
  color: $white-color;
  cursor: pointer;
  overflow: auto;
  // Drop down menu scrollbar hide
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    width: 0;
  }
}

.aa-suggestion {
  border-bottom: darken($grey-color, 20%) 1px solid;
  em {
    color: $red-color;
  }
  &.aa-cursor {
    background: lighten($deep-grey-color, 5%);
  }
}

.search-nav-item {
  display: block;
  color: $white-color;
  font-size: $base-font-size * 3;
  &:hover {
    background: lighten($deep-grey-color, 5%);
  }
}
