---
layout: default
---

<div class="home">

    <ul class="post-list">
        {% for post in paginator.posts %}
        <li>
            <h2>
                <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h2>

            {% assign date_format = site.date_format | default: "%Y %m %-d " %}
            <span class="post-meta">{{ post.date | date: date_format }}</span>

            {% if post.excerpt != post.content %}
            {{ post.excerpt }}
            <a class="post-readmore" href="{{ post.url | relative_url  }}">Read more</a>
            {% else %}
            {{ post.content }}
            {% endif %}
        </li>
        {% endfor %}
    </ul>

    {% include pagination.html %}

</div>
