---
layout: default
---

<div id="search-searchbar"></div>
<div class="post-list" id="search-hits">
</div>
{% include algolia.html %}

<article class="page-content" aria-label="Content">
  <ul class="post-list">
    {% for post in paginator.posts %}
    <li>
      <h1>
        <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      </h1>

      {% assign date_format = site.date_format | default: "%b %d. %Y" %}
      <span class="post-list-meta">{% include icon-clock.svg %}{{ post.date | date: date_format }}</span>

      {% if post.excerpt != post.content %}

      {{ post.excerpt }}
      <a class="post-list-readmore" href="{{ post.url | relative_url }}">Read more</a>

      {% else %}
      {{ post.content }}

      {% endif %}
    </li>
    {% endfor %}
  </ul>

  {% include pagination.html %}

</article>

