---
layout: default
---

<article class="post">

    <main class="page-content" aria-label="Content">
        <div class="wrapper">

            <header class="post-header">
                <h1 class="post-title">{{ page.title | escape }}</h1>

                <p class="post-meta">
                    <time datetime="{{ page.date | date_to_xmlschema }}">
                        {% assign date_format = site.date_format | default: "%Y %m %-d " %}
                        {{ page.date | date: date_format }}
                    </time>

                    {% if page.author %}
                    • {{ page.author }}
                    {% endif %}
                </p>
            </header>

            <div class="post-content">
                {{ content }}
            </div>

        </div>
    </main>

    <div class="content-border"></div>
    <div class="comment">
        <main class="page-content" aria-label="Content">
            <div class="wrapper">
                {% include comments.html %}

                {% include post-recent.html %}
            </div>
        </main>
    </div>

</article>

