/*
 * Footer
 */
footer {
  position: relative;
  padding-top: $spacing-unit * 3;
  padding-bottom: $spacing-unit * 2;
  text-align: center;
  color: $white-color;
  background: $deep-grey-color;
}

.footer-angled {
  top: 0;
  z-index: 5;
  width: 50%;
  height: 200px;
  pointer-events: none;
}

.footer-angled-left {
  @include angled-edge('inside top', 'lower right', $white-color, $width: 2000, $height: 200);
  position: absolute;
  left: 0;
  
  &::after {
    background-position: right center;
  }
}

.footer-angled-right {
  @include angled-edge('inside top', 'lower left', $white-color, $width: 2000, $height: 200);
  position: absolute;
  right: 0;
  
  &::after {
    background-position: left center;
  }
}

.footer-angled-left-grey {
  @include angled-edge('inside top', 'lower right', $light-grey-color, $width: 2000, $height: 200);
  position: absolute;
  left: 0;

  &::after {
    background-position: right center;
  }
}

.footer-angled-right-grey {
  @include angled-edge('inside top', 'lower left', $light-grey-color, $width: 2000, $height: 200);
  position: absolute;
  right: 0;

  &::after {
    background-position: left center;
  }
}

.social {
  margin-top: $spacing-unit * 2;
  margin-bottom: $spacing-unit;
  
  li {
    display: inline-block;
    margin: 0 10px;
    
    a {
      fill: $white-color;
    }
    
    .github {
      &:hover {
        fill: #9cdaf0;
      }
    }
    
    .linkedin {
      &:hover {
        fill: #0077b5;
      }
    }
    
    .facebook {
      &:hover {
        fill: #4267b2;
      }
    }
    
    .weibo {
      &:hover {
        fill: #e32529;
      }
    }
  }
}

.copyright {
  margin-bottom: 0;
}

.author {
  margin-bottom: 0;
  letter-spacing: 1px;
  svg {
    display: inline-block;
    -webkit-animation: beat $time infinite alternate;
    animation: beat $time infinite alternate;
    -webkit-transform-origin: center;
    transform-origin: center;
  }
}

@-webkit-keyframes beat {
  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@keyframes beat {
  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.footer-nav-item {
  display: inline-block;
  margin: 0 ($spacing-unit / 2);
  padding: $spacing-unit 0;
  color: $white-color;
  @include relative-font-size(1.125);
  transition: opacity $time;
  cursor: pointer;
}

.footer-nav:hover .footer-nav-item:not(:hover) {
  opacity: .5;
}