/*
 * footer
 */
footer {
  padding-top: $spacing-unit * 3;
  padding-bottom: $spacing-unit * 2;
  text-align: center;
  color: $white-color;
  background: $deep-grey-color;
}

.footer-social {
  margin-bottom: $spacing-unit;
  
  li {
    display: inline-block;
    margin: 0 10px;
    
    a {
      fill: $white-color;
    }
    
    a[title="github"] {
      &:hover {
        fill: #9cdaf0;
      }
    }
    
    a[title="linkedin"] {
      &:hover {
        fill: #0077b5;
      }
    }
    
    a[title="facebook"] {
      &:hover {
        fill: #4267b2;
      }
    }
    
    a[title="weibo"] {
      &:hover {
        fill: #e32529;
      }
    }
  }
}

.copyright {
  margin-bottom: 0;
}

.author {
  margin-bottom: 0;
  letter-spacing: 1px;
}

.heart {
  display: inline-block;
  color: #ff69b4;
  -webkit-animation: beat .4s infinite alternate;
  animation: beat .4s infinite alternate;
  -webkit-transform-origin: center;
  transform-origin: center;
}

@-webkit-keyframes beat {
  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@keyframes beat {
  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.footer-nav-title {
  display: inline-block;
  margin: 0 ($spacing-unit / 2);
  padding: $spacing-unit 0;
  color: $white-color;
  @include relative-font-size(1.125);
  transition: opacity .2s;
}

.footer-nav:hover .footer-nav-title:not(:hover) {
  opacity: .5;
}