/*
 * Header
 */
header{
  display: flex;
  justify-content: space-between;
  @include content-width;
  height: $spacing-unit * 2.5;
  line-height: $spacing-unit * 2.5;
  background: $deep-grey-color;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
}

.js-headroom {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 9;
  transition: transform $time ease-in-out;
  &--pinned {
    transform: translateY(0%);
  }
  &--unpinned {
    transform: translateY(-100%);
  }
}

.site-title {
  display: inline-flex;
  align-items: center;
  font-size: $base-font-size * 1.75;
  letter-spacing: -1px;
  color: $white-color;
  svg{
    margin-right: 10px;
  }
}

.header-nav-item {
  display: inline-flex;
  align-items: center;
  &:not(:last-child) {
    margin-right: 20px;
  }
  color: $white-color;
  font-size: $base-font-size * 1.25;
  transition: opacity $time;
  cursor: pointer;
  svg {
    display: none;
    @include media-query($small) {
      display: inline-flex;
      margin-top: 20px;
    }
  }
}

.header-nav:hover .header-nav-item:not(:hover) {
  opacity: .5;
}

.header-nav-hide {
  @include media-query($small) {
    display: none;
  }
}