/*
 * header
 */
header {
  display: flex;
  justify-content: space-between;
  //align-items: center;
  @include content-width;
  height: $spacing-unit * 2.5;
  line-height: $spacing-unit * 2.5;
  background: $deep-grey-color;
}

.js-headroom {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 9;
  transition: transform $time ease-in-out;
  &--pinned {
    transform: translateY(0%);
  }
  &--unpinned {
    transform: translateY(-100%);
  }
}

.site-title {
  @include relative-font-size(2);
  letter-spacing: -1px;
  color: $white-color;
}

.header-nav-title {
  display: inline-block;
  &:not(:last-child) {
    margin-right: 20px;
  }
  color: $white-color;
  @include relative-font-size(1.125);
  transition: opacity $time;
  
  svg {
    display: none;
    @include media-query($small) {
      display: inline-block;
      margin-top: 20px;
    }
  }
}

.header-nav:hover .header-nav-title:not(:hover) {
  opacity: .5;
}

.header-nav-title-hide {
  @include media-query($small) {
    display: none;
  }
}