/*
 * Header
 */
.js-headroom {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 9;
  display: flex;
  justify-content: space-between;
  @include content-width;
  height: $spacing-unit * 2.5;
  line-height: $spacing-unit * 2.5;
  background: $deep-grey-color;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
  transition: transform $time ease-in-out;
  &--pinned {
    transform: translateY(0%);
  }
  &--unpinned {
    transform: translateY(-100%);
  }
}

.site-title {
  font-size: $base-font-size * 2;
  letter-spacing: -1px;
  color: $white-color;
}

.header-nav-item {
  display: inline-block;
  &:not(:last-child) {
    margin-right: 20px;
  }
  color: $white-color;
  font-size: $base-font-size * 1.125;
  transition: opacity $time;
  cursor: pointer;
  
  svg {
    display: none;
    @include media-query($small) {
      display: inline-block;
      margin-top: 20px;
    }
  }
}

.header-nav:hover .header-nav-item:not(:hover) {
  opacity: .5;
}

.header-nav-hide {
  @include media-query($small) {
    display: none;
  }
}

.page-title {
  position: relative;
  padding-top: $spacing-unit * 4;
  padding-bottom: $spacing-unit * 3;
  @include content-width;
  color: white;
  line-height: 1;
  background: $deep-grey-color;
}

.page-title-home {
  font-size: $base-font-size * 4;
  @include media-query($small) {
    font-size: $base-font-size * 3;
  }
}

.page-title-item {
  font-size: $base-font-size *2.5;
  @include media-query($small) {
    font-size: $base-font-size * 2;
  }
}

.page-title-date {
  display: flex;
  align-items: center;
  margin-top: $spacing-unit / 2;
  font-style: italic;
  svg {
    margin-right: $spacing-unit / 3;
    fill: $white-color;
  }
}

.header-angled {
  bottom: 0;
  z-index: 5;
  width: 50%;
  height: 200px;
  pointer-events: none;
}

.header-angled-left {
  @include angled-edge('inside bottom', 'upper right', $white-color, $width: 2000, $height: 200);
  position: absolute;
  left: 0;
  
  &::after {
    background-position: right center;
  }
}

.header-angled-right {
  @include angled-edge('inside bottom', 'upper left', $white-color, $width: 2000, $height: 200);
  position: absolute;
  right: 0;
  
  &::after {
    background-position: left center;
  }
}