/*
 * Home Page
 */

.post-list {
  @include content-width;
}

.post-item {
  &:not(:last-child) {
    border-bottom: 1px solid lighten($grey-color, 25%);
  }
  &:not(:first-child) {
    padding-top: $spacing-unit * 2;
  }
  padding-bottom: $spacing-unit * 2;
  list-style: none;
  
  li {
    margin-left: 1em;
    list-style: disc;
  }
}

.post-item-title {
  display: block;
  color: $deep-grey-color;
  font-size: $base-font-size * 1.75;
  @include media-query($medium) {
    font-size: $base-font-size * 2;
  }
  @include media-query($small) {
    span {
      display: inline-block;
      position: relative;
      
      &::after {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: $red-purple-color;
        transition: -webkit-transform $time;
        transition: transform $time;
        transition: transform $time, -webkit-transform $time;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: left center;
        transform-origin: left center;
        content: '';
      }
    }
    
    &:hover span{
      &::after {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
      }
    }
  }
}

.post-date {
  display: flex;
  align-items: center;
  margin-bottom: $spacing-unit / 2;
  
  font: {
    style: italic;
    size: $base-font-size * 0.875;
  }
  
  svg {
    margin-right: 6px;
  }
}

.post-excerpt {
  display: flex;
  margin-top: $spacing-unit;
  
  span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: $red-color 2px solid;
    border-radius: $spacing-unit;
    width: $spacing-unit * 6;
    height: $spacing-unit * 2;
    font-size: $base-font-size * 1.5;
    letter-spacing: -1px;
    color: $red-color;
    transition: all $time;
  }
  
  @include hover {
    
    span {
      background: $red-color;
      color: $white-color;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }
}