/*
 * Post Content
 */
.post {
  @include content-width;
  
  hr {
    margin: ($spacing-unit * 2) 0;
    border-top: 0;
    border-bottom: 1px solid $grey-color;
  }
  
  li{
    margin-left: 1em;
  }
}

.category {
  float: right;
  padding-top: 10px;
  font-size: $base-font-size * 1.5;
}

.category-title {
  margin-bottom: 0;
}

.category-item {
  color: $red-color;
  border-bottom: 2px dashed $grey-color;
  transition: border-bottom $time;
  @include hover{
    border-bottom: 2px solid $red-color;
  }
}

.container-grey {
  @include content-width;
  @include clearfix;
  padding-top: $spacing-unit * 3;
  color: darken($grey-color, 25%);
  background: linear-gradient(177deg, transparent 100px, $light-grey-color 0);
}