/*
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/*
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, ul, ol, dl, table,
blockquote, pre, figure {
  margin-bottom: $spacing-unit / 3;
}

/*
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $black-color;
  background: $white-color;
  // 启用浏览器的文本溢出算法，具体用一个百分数来确定文本放大范围 应用在iOS
  -webkit-text-size-adjust: 100%;
  // 应用字距调整
  -webkit-font-kerning: normal;
  font-kerning: normal;
}

/*
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
}

h1 {
  font-size: $base-font-size * 1.75;
  @include media-query($medium) {
    font-size: $base-font-size * 2;
  }
}

h2 {
  font-size: $base-font-size * 1.375;
  @include media-query($medium) {
    font-size: $base-font-size * 1.625;
  }
}

h3 {
  font-size: $base-font-size *  1.125;
  @include media-query($medium) {
    font-size: $base-font-size * 1.25;
  }
}

/*
 * Images
 */
img {
  border-radius: 4px;
  max-width: 100%;
  height: auto;
  //vertical-align: middle;
}

/*
 * Figures
 */
//figure > img {
//  display: block;
//}
//
//figcaption {
//  font-size: $base-font-size * 0.875;
//}

/*
 * Links
 */
a {
  text-decoration: none;
}

p > a {
  border-bottom: 2px dashed $grey-color;
  color: inherit;
  transition: all $time ease-in-out;
  &:after {
    content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14'> <path d='M11.2 7c-0.42 0-0.7 0.28-0.7 0.7v4.2c0 0.42-0.28 0.7-0.7 0.7h-7.7c-0.42 0-0.7-0.28-0.7-0.7v-7.7c0-0.42 0.28-0.7 0.7-0.7h4.2c0.42 0 0.7-0.28 0.7-0.7s-0.28-0.7-0.7-0.7h-4.2c-1.19 0-2.1 0.91-2.1 2.1v7.7c0 1.19 0.91 2.1 2.1 2.1h7.7c1.19 0 2.1-0.91 2.1-2.1v-4.2c0-0.42-0.28-0.7-0.7-0.7z'></path> <path d='M13.93 0.42c-0.070-0.14-0.21-0.28-0.35-0.35-0.070-0.070-0.21-0.070-0.28-0.070h-4.2c-0.42 0-0.7 0.28-0.7 0.7s0.28 0.7 0.7 0.7h2.52l-6.51 6.51c-0.28 0.28-0.28 0.7 0 0.98 0.14 0.14 0.28 0.21 0.49 0.21s0.35-0.070 0.49-0.21l6.51-6.51v2.52c0 0.42 0.28 0.7 0.7 0.7s0.7-0.28 0.7-0.7v-4.2c0-0.070 0-0.21-0.070-0.28z'></path> </svg>");
    margin: 0 4px;
  }
  @include hover {
    border-bottom: 2px solid $red-color;
  }
}

/*
 * Blockquotes
 */
blockquote {
  border-left: 4px solid $grey-color;
  padding: 1rem;
  background: $light-grey-color;
  p:last-child {
    margin-bottom: 0;
  }
}

/*
 * Code formatting
 */
pre,
code {
  font-family: inherit;
  letter-spacing: 1px;
  background: $light-grey-color;
}

code {
  padding: 4px;
}

pre {
  border-radius: 5px;
  padding: 1rem;
  overflow-x: auto;
  > code {
    padding: 0;
  }
}

/*
 * Tables
 */
.table-wrapper {
  overflow-x: auto;
}

table {
  border: 1px solid $grey-color;
  // 合并表格边框
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  tr {
    &:nth-child(even) {
      background: $light-grey-color;
    }
  }
  th, td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }
  th {
    border: 1px solid $grey-color;
    background: darken($light-grey-color, 10%);
  }
  td {
    border: 1px solid $grey-color;
  }
}

/*
 * h3 background of code title
 */
h3[id^="html"],
h3[id^="markdown"],
h3[id^="css"],
h3[id^="scss"],
h3[id^="javascript"],
h3[id^="jquery"],
h3[id^="demo"] {
  display: inline-block;
  margin-bottom: 2px;
  border-radius: 4px;
  padding: 2px 5px 1px;
  color: $white-color;
  font-size: $base-font-size;
}

h3[id^="html"],
h3[id^="markdown"] {
  background: linear-gradient(135deg, #ff4c9f, #ff7b74);
}

h3[id^="css"],
h3[id^="scss"] {
  background: linear-gradient(135deg, #7983ff, #5f9de9);
}

h3[id^="javascript"],
h3[id^="jquery"] {
  background: linear-gradient(135deg, #ffb000, #f58818);
}

h3[id^="demo"] {
  background: linear-gradient(135deg, #0091EA, #00B8D4);
}